.wkp-behig-layer-info {
  .legend-table {
    display: table;
    width: 100%;

    div {
      float: left;
      display: table-column;
      width: 80%;
    }

    img {
      float: left;
      display: table-column;
      padding-right: 10px;
    }
  }
}
