.wkp-topics-menu {
  border: 2px solid #666;
  max-height: 1000px;
  overflow: hidden;

  .wkp-menu-item {
    border: none;
    margin-top: 0;
  }

  .wkp-menu-item-header {
    border-top: 1px solid #eee;
  }

  .wkp-topics-menu-title {
    display: flex;
    align-items: center;
  }

  .wkp-topics-menu-body {
    min-width: 250px;
    max-height: 1000px;
    overflow-y: auto;
    background: white;
    padding: 10px 15px;
    position: relative;
  }
}
