.wkp-menu {
  border: 2px solid #666;
  max-height: 1000px;
  margin-top: 5px;
  overflow: hidden;

  .wkp-menu-item {
    border: none;
    margin-top: 0;
  }

  .wkp-menu-item-header {
    border-top: 1px solid #eee;
  }

  .wkp-menu-title {
    display: flex;
    align-items: center;
  }

  .wkp-menu-body {
    min-width: 250px;
    max-height: 1000px;
    overflow-y: auto;
    background: white;
    padding: 5px 0;
  }
}

.tm-app.tm-w-m,
.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .wkp-menu {
    border: 0;

    .wkp-menu-header {
      .wkp-menu-title {
        display: none;
        border-top: 1px solid #eee;
      }
    }

    .wkp-menu-body {
      padding: 0;
    }
  }

  // header component is enabled
  &.header {
    .wkp-menu {
      margin-top: 0;
    }
  }
}
