.wkp-passagier-freq-popup {
  .wkp-passagier-freq-popup-title {
    font-weight: bold;
  }

  .wkp-passagier-freq-popup-body {
    padding: 10px 0 5px 0;

    span {
      padding: 2px 0;
      display: block;
    }
  }
}
