.wkp-share {
  width: 100%;
  display: flex;

  > div {
    width: 30px;
    height: 30px;
    margin: 10px 0 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .ta-mail-icon {
    a {
      display: flex;
      align-items: center;
      justify-content: space-around;

      svg {
        font-size: 23px;
        margin-bottom: 2px;
      }
    }
  }

  .wkp-share-permalink-button > div[role='button'] {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    svg {
      font-size: 20px;
    }
  }

  .ta-facebook-icon {
    margin: 10px 0 10px 15px;
    font-size: 30px;
  }

  .ta-twitter-icon {
    font-size: 30px;
  }

  .rs-canvas-save-button {
    font-size: 28px;
  }
}
