.wkp-share {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 10px 16px;

  > *:first-child {
    padding-left:8px
  }

  .ta-mail-icon {
    width:24px;
    font-size: 23px;
  }

  .ta-twitter-icon,
  .rs-canvas-save-button,
  .ta-facebook-icon {
    font-size: 30px;
  }

  .rs-canvas-save-button {
    background-color: transparent;
    border: none;
    font-size: 28px;
    padding: 0;

    svg {
      margin-top: 3px;
    }
  }

  svg:hover {
    color: $brand-primary-hover;
  }



  > div, a, button {
    width: 30px;
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
