/* stylelint-disable import-notation */
/* stylelint-disable scss/at-import-partial-extension */
@import '../../globals.scss';

.wkp-tracker-menu {
  .wkp-trajectory {
    .wkp-trajectory-stop {
      display: flex;

      .wkp-trajectory-stop-time {
        border-right: 4px solid #003d85;
        padding: 10px;
        padding-right: 10px;
        position: relative;

        .wkp-trajectory-stop-icon {
          height: 6px;
          width: 6px;
          border: 2px solid #003d85;
          background: white;
          border-radius: 50%;
          position: absolute;
          right: -7px;
          top: 12px;
        }
      }

      .wkp-trajectory-stop-name {
        padding: 10px;
      }
    }
  }

  .rt-route-schedule {
    width: calc(100% - 20px);

    .rt-route-header {
      padding: 0;
    }

    .rt-route-body {
      padding: 0 10px;
    }

    .rt-route-footer {
      padding: 20px 10px;
      font-size: $footer-font-size;
    }

    .rt-route-icon {
      display: table;
    }
    // Use proper font for bold
    .rt-route-header .rt-route-title .rt-route-name,
    .rt-route-station:first-child,
    .rt-route-station:last-child {
      font-family: SBBWeb-Bold, Arial, sans-serif;
      font-weight: normal;
    }
  }

  .rt-tracker-control {
    padding: 15px 10px 0;
  }

  .rt-route-schedule .rt-route-body .rt-route-station.rt-passed .rt-route-delay span {
    display: block;
    opacity: 0.7;
  }
}
