.wkp-zweitausbildung-routes-popup {
  overflow-y: auto;

  .wkp-zweitausbildung-routes-popup-row {
    min-height: 50px;
    border-bottom: dashed 1px #bebebe;
    padding-top: 5px;

    &.highlight {
      background-color: #eaeaea;
    }
  }

  .wkp-zweitausbildung-routes-popup-image > img {
    vertical-align: middle;
    padding: 3px 5px 3px 0;
  }

  .wkp-zweitausbildung-routes-popup-desc {
    padding-top: 5px;
  }
}
