.wkp-menu-wrapper {
  .wkp-menu-header {
    background: white;
    padding: 0 15px;
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #666;
    transition: all 0.2s ease;

    &.open {
      border-bottom-width: 1px;
      border-bottom-color: #666;
    }

    .wkp-menu-toggler {
      position: absolute;
      right: 10px;
      top: 30px;
    }

    .wkp-menu-header-toggler {
      display: none;

      .wkp-menu-header-toggler-icon {
        width: 50px;
      }
    }

    .wkp-menu-layers {
      color: #888;
      margin-top: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 0.2s ease;
      max-height: 16px;

      &.hidden {
        max-height: 0;
        margin: 0;
      }
    }

    .wkp-menu-title {
      transition: font-size 0.2s ease;

      &.large {
        font-size: 120%;
      }
    }
  }
}

.tm-app.tm-w-m,
.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .wkp-menu-wrapper {
    top: 0;

    .wkp-menu-title,
    .wkp-menu-toggler,
    .wkp-menu-layers {
      display: none;
    }

    .wkp-menu-header-toggler {
      display: flex;
      align-items: center;

      img {
        margin-right: 5px;
      }
    }

    .wkp-menu-header {
      margin: 0;
      border: 0;
      padding: 10px;
      height: 35px;
      width: 20px;

      .wkp-menu-toggle-text {
        display: none;
      }
    }
  }

  // header component is enabled
  &.header {
    .wkp-menu {
      top: 12px;

      .wkp-menu-header {
        margin: 0 0 0 10px;
        width: 60px;

        .wkp-menu-toggle-text {
          display: block;
        }
      }
    }
  }
}
