.wkp-topic-menu-item {
  .wkp-menu-title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;

    .wkp-menu-title-left {
      display: flex;
      align-items: center;
    }

    .wkp-menu-title-icon {
      margin-right: 10px;
      font-size: 20px;
    }
  }
}
