.wkp-menu-wrapper {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 371px;
  z-index: 2;

  .wkp-menu {
    border-width: 2px;
    background: white;
    border-style: solid;
    border-color: #666;
    transition: max-height 0.3s ease;
    max-height: 1000px;
    margin-top: 5px;
    overflow: hidden;

    &.wkp-topics {
      border-top-width: 0px;
      margin-top: 0;
    }

    &.closed {
      border-width: 0;
      border-top-width: 0;
      max-height: 0;
      transition: max-height 0.3s ease, border 0.1s ease 0.3s;
    }

    .wkp-layer-tree {
      overflow: hidden;
      max-height: 1000px;
      margin: 10px 10px 10px 25px;

      &.closed {
        display: none;
      }
    }
  }
}

.tm-app.tm-w-m,
.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .wkp-menu-wrapper {
    left: 0;

    .wkp-menu {
      border: 0;

      &.closed {
        padding: 0;
        overflow: hidden;

        div {
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  // header component is enabled
  &.header {
    .wkp-menu-wrapper {
      top: 0;

      .wkp-menu {
        margin-top: 1px;
      }
    }
  }
}
