.wkp-menu-item-header {
  height: 15px;
  border: none;
  display: flex;
  align-items: center;
  padding: 15px 10px 15px 15px;
  margin: 2px; //For outline

  &.open {
    border-bottom: 1px solid #eee;
  }

  .wkp-menu-item-header-icon {
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }

  .wkp-menu-item-header-toggler {
    width: 15px;
    height: 15px;
  }

  .wkp-menu-item-header-icon,
  .wkp-menu-item-header-toggler {
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .wkp-menu-item-header-title {
    flex-grow: 2;
  }
}
