.wkp-topic-menu-item {
  position: relative;

  .wkp-menu-title {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 15px 15px;
    align-items: center;

    .wkp-menu-title-left {
      display: flex;
      align-items: center;
    }
  }
}

.wkp-menu-item {
  border: 2px solid #666;
  background: white;
  margin-top: 5px;

  .wkp-menu-item {
    border: none;
  }

  .wkp-menu-item-body {
    min-width: 250px;
    max-height: 1000px;
    overflow-y: auto;
    padding: 5px 0 0;
  }

  &.closed {
    border-width: 0;
  }

  .wkp-collapsible-vertical {
    overflow: hidden auto;
  }
}
