@import '../../Globals.scss';

.wkp-topic-menu {
  border-top-width: 0;
  margin-top: 0;

  .wkp-info-layer-bt,
  .wkp-info-topic-bt {
    position: absolute !important;
    right: 0;
    display: flex;
    justify-content: center;
    width: 27px;
    height: 27px;
  }

  .wkp-topic-menu-item-wrapper {
    display: flex;

    .wkp-topic-menu-item {
      margin: 0 10px;
      padding: 0 5px;
      height: 30px;
      display: flex;
      align-items: center;

      .wkp-topic-title {
        display: flex;
      }

      .wkp-topic-radio {
        width: 15px;
        height: 15px;
        margin-right: 7px;
        border: 1px solid grey;
        border-radius: 50%;

        .wkp-topic-radio-dot {
          width: 11px;
          height: 11px;
          margin: 2px;
          background: $brand-primary;
          border-radius: 50%;
        }
      }

      .wkp-layer-toggler {
        margin-left: 10px;
        margin-top: 3px;
        width: 5px;
        height: 5px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        transform: rotate(45deg);

        &.collapsed {
          margin-top: 0;
          transform: rotate(225deg);
        }
      }
    }

    .wkp-info-topic-bt {
      color: #888;
      margin-right: 32px;
      align-items: center;

      &.wkp-active {
        color: #000;
      }

      &.wkp-selected {
        color: $brand-primary;
      }
    }
  }

  .wkp-layer-tree {
    overflow: hidden;
    margin: 10px 20px 20px 30px;

    .tm-layer-tree-item {
      color: #888;
      padding: 0;
      margin-left: 5px;

      .tm-layer-tree-toggle {
        padding: 5px 6px;
        margin: 1px 40px 1px 0;
      }

      .tm-layer-tree-arrow {
        border-color: #888;
      }

      &.tm-visible {
        color: initial;

        .tm-layer-tree-arrow {
          border-color: black;
        }
      }
    }
  }

  .wkp-topic-content {
    transition: max-height 0.3s ease, margin 0.3s ease;
    max-height: 1000px;

    select {
      margin: 0 35px 15px 35px;
      height: 34px;
      width: 285px;
      display: none;
    }
  }
}

.tm-app.tm-w-m,
.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .wkp-topic-content select {
    display: block;
  }

  .wkp-topic-menu-item {
    justify-content: space-between;
    border-width: 1px 0 0 0;
    border-color: #eee;
    border-style: solid;
    height: 60px;

    &.active {
      border-bottom: 1px solid #eee;
    }

    .wkp-topic-title {
      margin: 15px 0;
    }
  }
}
