.wkp-topic-menu {
  padding: 10px 0;
  display: flex;
  align-items: center;

  .wkp-topic-title {
    display: flex;
  }

  .wkp-topic-radio {
    width: 15px;
    height: 15px;
    margin-right: 7px;
    border: 1px solid grey;
    border-radius: 50%;

    .wkp-topic-radio-dot {
      width: 11px;
      height: 11px;
      margin: 2px;
      background: #eb0000;
      border-radius: 50%;
    }
  }

  .wkp-layer-toggler {
    padding-left: 5px;
  }
}

.tm-app.tm-w-m,
.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .wkp-topic-menu {
    justify-content: space-between;
    border-width: 1px 0 0 0;
    border-color: #eee;
    border-style: solid;

    &.active {
      border-bottom: 1px solid #eee;
    }

    .wkp-topic-title {
      margin: 15px 0;
    }
  }
}
