.wkp-handicap-menu {
  .wkp-handicap-menu-wrapper {
    margin: 10px 20px;

    .wkp-handicap-menu-title {
      margin: 10px 0;
      font-weight: bold;
    }

    .wkp-handicap-menu-field {
      margin: 5px 0;

      .wkp-handicap-menu-value {
        margin: 5px 10px;
      }
    }
  }
}
