.handicap-layer-info {
  display: flex;

  .stuetzpunkt-layer-icon {
    width: 18px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(246 136 38);
    border: 5px solid rgb(246 136 38 / 40%);
    margin: 2px 10px 5px 0;
    background-clip: padding-box; /* for Safari, IE9+, Firefox 4+, Opera, Chrome */
  }

  img {
    height: 20px;
    width: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 5px 12px 5px 5px;
  }
}
