.wkp-menu-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  height: 69px;
  transition: all 0.2s ease;
  background: white;

  &.open {
    border-bottom: 1px solid #eee;
  }

  .wkp-menu-header-mobile {
    display: none;

    .wkp-menu-header-toggler {
      display: flex;
      align-items: center;
    }

    svg {
      padding: 0 15px;
    }

    .wkp-menu-header-menu-title {
      padding-right: 15px;
    }
  }

  .wkp-menu-header-desktop {
    display: block;
    padding: 0 15px;

    .wkp-menu-toggler {
      position: absolute;
      right: 13px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }

    .wkp-menu-layers {
      color: #888;
      margin-top: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 0.2s ease;
      max-height: 16px;

      &.hidden {
        max-height: 0;
        margin: 0;
      }
    }
  }
}

.tm-w-xs {
  .wkp-menu-header {
    .wkp-menu-header-menu-title {
      display: none;
    }
  }
}

.tm-w-m,
.tm-w-s,
.tm-w-xs {
  .wkp-menu-header {
    .wkp-menu-header-mobile {
      display: block;
    }

    .wkp-menu-header-desktop {
      display: none;
    }
  }

  &:not(.header) {
    .wkp-menu-header.open {
      .wkp-menu-header-mobile {
        width: 350px;

        .wkp-menu-header-menu-title {
          display: block;
        }
      }
    }
  }
}
