.casa .tm-trafimage-maps .wkp-fit-extent,
.casa .rs-zooms-bar .rs-zoomslider-wrapper .ol-zoomslider .ol-zoomslider-thumb,
.casa .tm-trafimage-maps .rs-zoom-out,
.casa .tm-trafimage-maps .rs-zoom-in {
  background: #4576a2;
}

.casa .tm-trafimage-maps .wkp-fit-extent:hover,
.casa .rs-zooms-bar .rs-zoomslider-wrapper .ol-zoomslider .ol-zoomslider-thumb:hover,
.casa .tm-trafimage-maps .rs-zoom-out:hover,
.casa .tm-trafimage-maps .rs-zoom-in:hover {
  background: #305a80;
}

.casa .rs-zooms-bar .rs-zoomslider-wrapper .ol-zoomslider {
  border: 1px solid #4576a2;
}

.casa .tm-trafimage-maps .wkp-geolocation {
  display: none;
}

.casa .tm-trafimage-maps .rs-base-layer-switcher {
  display: flex;
  bottom: 5px;
  right: 5px;
  left: unset;
  height: 48px;
  width: 48px;
}

.casa .tm-trafimage-maps .rs-base-layer-switcher .rs-base-layer-switcher-button.rs-opener {
  height: 48px;
  width: 48px;
  min-width: unset;
  border-radius: 8px;
  border: 1px solid #444;
  box-shadow: unset;
  overflow: hidden;
}

.casa .tm-trafimage-maps .rs-base-layer-switcher .rs-base-layer-switcher-button .rs-base-layer-switcher-title {
  font-size: 8px;
}

.casa .rs-base-layer-switcher-btn-wrapper {
  display: none;
}
