/*
Those CSS are used in production so be careful.
To test it properly, test it using the angular app set up in :

https://github.com/oterral/angular-react-test

*/

.casa div.tm-trafimage-maps .wkp-map-controls .wkp-fit-extent,
.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-out,
.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-in {
  width: 24px;
  height: 24px;
  border: 1px solid #444;
  box-shadow: none;
  margin: 0;
  position: absolute;
  right: 0;
}

.casa div.tm-trafimage-maps .wkp-map-controls .wkp-fit-extent {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  bottom: 55px;
}

.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-out svg,
.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-in svg {
  height: 11px;
  width: 11px;
}

.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-out {
  border-radius: 0 0 6px 6px;
  bottom: 0;
  padding: 6px;
}

.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-in {
  border-radius: 6px 6px 0 0;
  bottom: 23px;
  padding: 6px;
}

.casa div.tm-trafimage-maps .wkp-map-controls .wkp-fit-extent:hover,
.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-out:hover,
.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-in:hover {
  border: 1px solid #4576a2;
  box-shadow: none;
  color: #4576a2;
}

.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-in:hover {
  border-bottom: 1px solid #444;
}

.casa div.tm-trafimage-maps .wkp-map-controls .rs-zooms-bar .rs-zoom-out:hover {
  border-top: 1px solid #444;
}

.casa div.tm-trafimage-maps .wkp-map-controls .wkp-fit-extent svg path {
  stroke: currentcolor;
}

.casa div.tm-trafimage-maps .wkp-map-controls,
.casa div.tm-trafimage-maps.tm-w-m .wkp-map-controls,
.casa div.tm-trafimage-maps.tm-w-s .wkp-map-controls,
.casa div.tm-trafimage-maps.tm-w-xs .wkp-map-controls {
  bottom: 17px;
  top: auto; /* For IE */
}

.casa div.tm-trafimage-maps .rs-zooms-bar .rs-zoomslider-wrapper,
.casa div.tm-trafimage-maps .wkp-geolocation {
  display: none;
}

.casa div.tm-trafimage-maps .rs-base-layer-switcher,
.casa div.tm-trafimage-maps.tm-w-m .rs-base-layer-switcher,
.casa div.tm-trafimage-maps.tm-w-s .rs-base-layer-switcher,
.casa div.tm-trafimage-maps.tm-w-xs .rs-base-layer-switcher {
  display: flex;
  bottom: 5px;
  right: 35px;
  left: auto;
  height: 48px;
  width: 48px;
}

.casa div.tm-trafimage-maps .rs-base-layer-switcher .rs-base-layer-switcher-button.rs-opener {
  height: 48px;
  width: 48px;
  min-width: auto;
  border-radius: 8px;
  border: 1px solid #444;
  box-shadow: none;
  overflow: hidden;
}

.casa div.tm-trafimage-maps .rs-base-layer-switcher .rs-base-layer-switcher-button.rs-opener:hover {
  border: 1px solid #4576a2;
}

.casa div.tm-trafimage-maps .rs-base-layer-switcher .rs-base-layer-switcher-button .rs-base-layer-switcher-title {
  font-size: 8px;
}

.casa div.tm-trafimage-maps .rs-base-layer-switcher-btn-wrapper {
  display: none;
}

.casa div.tm-trafimage-maps .wkp-copyright {
  left: 0;
}

.casa div.tm-trafimage-maps.tm-w-s .wkp-copyright {
  max-width: 80%;
}

.casa div.tm-trafimage-maps.tm-w-xs .wkp-copyright {
  max-width: 70%;
}
