.tm-popup {
  div:first-child {
    animation: fadein 0.5s;
  }

  > div .tm-popup-close-bt {
    height: 40px;
    width: 40px;
    z-index: 999;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
