.wkp-share-permalink-button {
  position: relative;
  width: 20px;

  .wkp-tooltip,
  .tm-permalink-field,
  .wkp-arrow-left {
    border: 1px solid lightgray;
  }

  .wkp-tooltip {
    position: fixed;
    background: white;
    width: 400px;
    z-index: 1000;
    height: auto;
    padding: 10px;

    .tm-permalink-field {
      position: relative;
      width: 375px;
      height: 30px;
      padding-left: 5px;

      div[role='button'] {
        border-left: 1px solid lightgray;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .wkp-arrow-left {
    position: absolute;
    left: -6px;
    top: 20px;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    background: white;
  }

  .wkp-close-bt {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
  }
}
