.wkp-image-dropdown-button,
.wkp-image-dropdown-current {
  width: 210px;
}

.wkp-image-dropdown-button {
  display: flex;
  flex-direction: row;
  padding: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  .wkp-image-dropdown-current {
    display: flex;
    flex-direction: row;

    .wkp-image-dropdown-label {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 145px;
    }
  }
}

.wkp-image-dropdown-list {
  position: absolute;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #e6e6e6;
  background-color: #fff;
  max-height: 150px;
  width: 219px;
  z-index: 800;
  overflow-y: auto;

  .tm-list-item {
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    padding-right: 4px;
    padding-left: 4px;
  }

  .tm-list-item:hover {
    background-color: #e6e6e6;
  }
}

/* General settings for both, the button and the list */
.wkp-image-dropdown-icon {
  padding-right: 5px;

  & > img {
    vertical-align: middle;
  }
}
