@import "../../globals";

.wkp-tel-infos {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  height: 0;
  background-color: white;
  overflow: hidden;
}

.tm-barrier-free {
  .wkp-tel-infos {
    &:focus {
      padding: 10px;
      border: 2px solid #666;
      height: auto;
    }
  }
}
