@import 'react-transit/themes/default/variables.scss';
@import 'react-transit/themes/default/components.scss';
@import '../../Globals.scss';

body {
  font-family: 'SBBWeb Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

.tm-app {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;

  a {
    color: initial;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .tm-zooms-bar {
    position: relative;
  }

  .tm-base-layer-toggler {
    position: absolute;
    bottom: 60px;
    left: 10px;
    width: 120px;
    height: 120px;
  }
}

.wkp-selected {
  color: $brand-primary;
}

.tm-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

h1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

/* Base layers in the layer tree */
.tm-base-layer-item {
  display: none;
}

.tm-app.tm-w-m,
.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .tm-base-layer-toggler {
    display: none;
  }

  .tm-base-layer-item {
    display: block;
  }
}
