@import 'react-transit/themes/default/variables.scss';
@import 'react-transit/themes/default/components.scss';
@import '../../Globals.scss';

select {
  margin: 0;
  padding: 1px 0 1px 12px;
  font-size: inherit;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tm-app {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

body {
  font-family: 'SBBWeb Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;

  div,
  li,
  select,
  input {
    &:focus {
      outline: none;
    }
  }

  a {
    color: initial;
    text-decoration: none;

    &:focus {
      outline: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .tm-zooms-bar {
    position: relative;
  }

  .tm-base-layer-toggler {
    position: absolute;
    bottom: 40px;
    left: 10px;
    width: 120px;
    height: 120px;
  }

  &.wkp-bf-focus {
    a,
    div,
    li,
    select,
    input {
      &:focus {
        outline: $bf-large-outline;
        outline-offset: 3px;
      }
    }

    .wkp-menu-header {
      &:focus {
        outline: $bf-large-outline;
      }
    }
  }
}

.wkp-selected {
  color: $brand-primary;
}

.tm-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &:focus {
    animation: blink 0.3s linear;
  }
}

h1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.tm-app.tm-w-m,
.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .tm-base-layer-toggler {
    display: none;
  }
}

@keyframes blink {
  50% {
    opacity: 0.4;
  }
}
