@import '../../globals.scss';

.tm-trafimage-maps {
  font-family: 'SBBWeb-Roman', Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;

  @keyframes blink {
    50% {
      opacity: 0.4;
    }
  }

  a:not(.MuiIconButton-root) {
    color: initial;
    text-decoration: underline; /* SBB CD */

    &:hover {
      color: $brand-primary-hover;
    }
  }

  /**
  * This bold font should be defined using mui tpography them but for old content (impressum, ...),
  * we force the <b> tag to use the good font.
  */
  b {
    font-family: 'SBBWeb-Bold', Arial, sans-serif;
  }

  .rs-map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .tm-barrier-free {
    height: 100%;
    width: 100%;
    position: relative;

    *:focus {
      outline-width: 3px;
      outline-style: solid;
      outline-offset: 1px;
      outline-color: #3f83d1;
    }

    &.tm-no-focus *:focus {
      outline: none;
    }

    &:not(.tm-no-focus) {
      .rs-map:focus {
        animation: blink 0.3s linear;
      }
    }
  }

  .rs-zooms-bar {
    position: relative;
  }

  .rs-base-layer-switcher {
    position: absolute;
    bottom: 50px;
    left: 10px;
    width: 120px;
    z-index: 0; // under menu
    padding: 12px;
    user-select: none;

    .rs-opener {
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
      transition: box-shadow 0.5s ease, 700ms opacity, 1000ms z-index;

      &:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
      }
    }

    .rs-base-layer-switcher-btn-wrapper {
      margin-right: 4px;
    }

    .rs-base-layer-switcher-button {
      height: 90px;
      min-width: 120px;
      margin-right: 0;

      .rs-base-layer-switcher-title {
        font-size: 12px;
        max-height: inherit; //IE
      }

      &.rs-opener {
        top: 12px;
        left: 12px;
      }
    }

    .rs-base-layer-switcher-close-btn {
      height: 30px;
      width: 30px;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    &.rs-open {
      width: 680px;

      .rs-base-layer-switcher-close-btn,
      .rs-base-layer-switcher-btn-wrapper {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.5s ease, 700ms opacity, 1000ms z-index;

        &:hover {
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
        }
      }

      .rs-base-layer-switcher-btn-wrapper:last-child {
        box-shadow: none;
      }
    }
  }

  .rs-popup {
    .rs-popup-container {
      /* Overwrite with a very small minium width to allow small custom widths */
      min-width: 100px;

      .rs-popup-body {
        padding: 0;
      }

      &::after {
        margin-left: -8px;
      }

      &::before {
        margin-left: -9px;
      }
    }
  }

  select {
    margin: 0;
    padding: 1px 0 1px 12px;
    font-size: inherit;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  button,
  div[role='button'] {
    cursor: pointer;
  }

  &.tm-h-m,
  &.tm-h-s,
  &.tm-h-xs {
    .wkp-geolocation,
    .wkp-fit-extent,
    .rs-zoom-in,
    .rs-zoom-out {
      margin: 10px 0;
    }
  }

  &.tm-h-s,
  &.tm-h-xs {
    .rs-zoomslider-wrapper {
      display: none;
    }
  }

  &.tm-h-xs {
    .wkp-search-toggle-container--open {
      width: 100%;
    }
  }

  &.tm-h-s {
    .wkp-search-toggle-container--open {
      width: 85%;
    }
  }

  &.tm-w-l {
    .wkp-search-toggle-button {
      margin-right: -10px;
    }
  }

  &.tm-w-m {
    .wkp-search-toggle-button {
      margin-right: -10px;
    }
  }

  &.tm-w-xl,
  &.tm-w-l,
  &.tm-w-m {
    .wkp-search-toggle-container,
    .wkp-search-toggle-container--open {
      padding-right: 50px;
    }
  }

  &.tm-w-l,
  &.tm-w-m,
  &.tm-w-s,
  &.tm-w-xs {
    .wkp-search {
      min-width: unset;
    }

    .wkp-search-toggle-container--open {
      float: right;
      margin: 0;
    }

    .wkp-search-toggle-container {
      display: none;
    }

    .wkp-search-toggle-button {
      right: 240px;
      display: flex;
    }
  }

  .wkp-map-controls {
    top: 10px;
  }

  &.header {
    .wkp-map-controls {
      top: 110px;
    }
  }

  &.tm-w-m,
  &.tm-w-s,
  &.tm-w-xs {
    .rs-base-layer-switcher {
      display: none;
    }

    .wkp-header {
      height: 55px;
    }

    .wkp-topics-menu {
      border: 0;
      padding: 0;

      .wkp-topics-menu-body {
        padding: 0;
        border-top: 1px solid #eee;
      }
    }

    .wkp-tel-infos {
      top: 65px;
    }

    .wkp-menu-wrapper {
      top: 55px;
      left: 0;
      width: 350px;

      .wkp-menu-header {
        position: absolute;
        top: -55px;
        height: 55px;
      }
    }

    // header component is enabled
    &.header {
      .wkp-map-controls {
        top: 60px;
      }

      .wkp-topics-menu {
        margin-top: 0;

        .wkp-menu-wrapper {
          margin-top: 55px;

          .wkp-collapsible-vertical {
            margin-top: 0;
          }
        }
      }
    }

    .wkp-topic-content {
      border-bottom: 1px solid #eee;

      select {
        display: block;
      }
    }

    .wkp-draw-layer-menu,
    .wkp-topic-menu-item-wrapper,
    .wkp-topic-content {
      padding: 0 10px;
    }

    .wkp-draw-layer-menu .rs-layer-tree-item,
    .wkp-topic-menu-item-wrapper {
      height: 36px;
    }

    .wkp-topic-menu-item {
      &.active {
        border-bottom: 1px solid #eee;
      }

      .wkp-layer-toggler {
        position: absolute;
        right: 0;
        top: 14px;
      }
    }

    .wkp-search {
      top: 3px;
      right: 9px;
      max-width: 100%;
      left: 55px;

      .wkp-search-toggle-button {
        svg {
          height: 23px;
          width: 23px;
        }
      }
    }

    .wkp-copyright {
      font-size: 11px;
      right: unset;
    }
  }

  &.tm-w-s,
  &.tm-w-xs {
    .wkp-bus-line-popup {
      max-width: 200px;
    }

    .wkp-search-toggle-container--open {
      padding-right: 0;
    }

    .wkp-search-button {
      width: 42px;
      right: 2px;
    }

    .wkp-search-button-clear {
      right: 48px;
    }

    .react-autosuggest__input {
      width: calc(100% - 96px);
      height: 80%;
      padding: 4px 0 4px 15px;
      font-size: 16px;
    }

    .wkp-header-right {
      left: calc(100% - 400px);
    }
  }

  &.tm-w-l,
  &.tm-w-m {
    .wkp-header {
      .wkp-header-right {
        left: calc(100% - 450px);
      }

      .wkp-login {
        margin-right: 6px;
      }
    }

    .wkp-search {
      right: 220px;
    }
  }

  &.tm-w-s {
    .wkp-header {
      .wkp-header-right {
        left: calc(100% - 400px);

        .wkp-login {
          margin-right: 13px;
        }
      }
    }

    .wkp-search {
      right: 220px;

      .wkp-search-toggle-button {
        margin-right: -45px;
      }
    }
  }

  &.tm-w-xs {
    .wkp-header {
      .wkp-header-right {
        left: calc(100% - 200px);
      }
    }

    .wkp-search {
      right: 10px;

      .wkp-search-toggle-button {
        margin-right: -40px;

        span {
          display: none;
        }
      }
    }
  }
}
