@import "../../globals.scss";

.tm-trafimage-maps {
  font-family: "SBBWeb Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;

  a {
    color: initial;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .tm-barrier-free {
    *:focus {
      outline-width: 3px;
      outline-style: solid;
      outline-offset: 1px;
      outline-color: #3f83d1;
    }

    &.tm-no-focus *:focus {
      outline: none;
    }
  }

  .rs-zooms-bar {
    position: relative;
  }

  .rs-base-layer-toggler {
    position: absolute;
    bottom: 40px;
    left: 10px;
    width: 120px;
    height: 120px;

    // For some reasons, after a click on tm-base-layer-item button,
    // we are not able to click on next and previous button anymore because
    // they are behind the tm-base-layer-item button.
    .tm-base-layer-item {
      z-index: 0;
    }

    .tm-base-layer-previous,
    .tm-base-layer-next {
      z-index: 1;
    }
  }

  .wkp-selected {
    color: $brand-primary;
  }

  .tm-map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  select {
    margin: 0;
    padding: 1px 0 1px 12px;
    font-size: inherit;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  button,
  div[role="button"] {
    cursor: pointer;
  }

  &.tm-w-m,
  &.tm-w-s,
  &.tm-w-xs {
    .rs-base-layer-toggler {
      display: none;
    }

    .wkp-header {
      height: 55px;
    }

    .wkp-map-controls {
      top: 60px;
    }

    .wkp-menu-wrapper {
      top: 0;
      left: 0;
    }

    .wkp-topics-menu {
      border: 0;
      padding: 0;

      .wkp-menu-header {
        padding: 7px;
        margin: 3px 4px; //For barrier free outline

        .wkp-menu-title {
          display: none;
        }
      }

      .wkp-topics-menu-body {
        padding: 0;
        border-top: 1px solid #eee;
      }
    }

    .wkp-tel-infos {
      top: 65px;
    }

    // header component is enabled
    &.header {
      .wkp-menu-wrapper {
        top: 0;
        width: 345px;
      }

      .wkp-topics-menu {
        margin-top: 0;
      }
    }

    .wkp-search {
      top: 5px;
      left: 250px;
    }

    .wkp-topic-content {
      border-bottom: 1px solid #eee;

      select {
        display: block;
      }
    }

    .wkp-info-layer-bt {
      margin-right: 10px;
    }

    .wkp-topic-menu-item-wrapper {
      padding: 0 10px;
    }

    .wkp-topic-menu-item {
      margin: 4px;
      height: 52px;

      &.active {
        border-bottom: 1px solid #eee;
      }
    }
  }

  &.tm-w-s,
  &.tm-w-xs {
    .wkp-search {
      right: 9px;
      max-width: 100%;
      left: 100px;
    }

    .wkp-search-toggle-container {
      display: none;
    }

    .wkp-search-toggle-button,
    .wkp-search-toggle-container--open {
      display: block;
      margin-right: 0;
    }

    .wkp-bus-line-popup {
      max-width: 200px;
    }
  }

  &.tm-h-m,
  &.tm-h-s,
  &.tm-h-xs {
    .wkp-geolocation,
    .wkp-fit-extent,
    .rs-zoom-in,
    .rs-zoom-out {
      margin: 10px 0;
    }
  }

  &.tm-h-s,
  &.tm-h-xs {
    .tm-zoomslider-wrapper {
      display: none;
    }
  }
}
