.wkp-handicap-popup {
  p {
    margin-block: 0;
  }

  .wkp-handicap-popup-body {
    .wkp-handicap-popup-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .wkp-handicap-popup-element {
      padding-bottom: 10px;
      flex-direction: column;
      display: flex;

      a {
        white-space: nowrap;
      }

      &:last-child {
        padding: 0;
      }

      .wkp-handicap-popup-field-title {
        font-weight: bold;
        vertical-align: top;
        padding-right: 20px;
      }

      .wkp-handicap-popup-field-body {
        word-break: break-word;
      }
    }

    .wkp-handicap-popup-bottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .wkp-handicap-popup-element {
        min-width: 180px;
        width: 50%;
      }
    }
  }
}
