.wkp-handicap-popup {
  min-width: 350px;
  max-width: 420px;

  a {
    text-decoration: underline;
  }

  .wkp-handicap-popup-body {
    .wkp-handicap-popup-title {
      font-weight: bold;
      padding-bottom: 10px;
    }

    .wkp-handicap-popup-element {
      padding-bottom: 10px;
      flex-direction: column;
      display: flex;

      &:last-child {
        padding: 0;
      }

      .wkp-handicap-popup-field-title {
        font-weight: bold;
        vertical-align: top;
        padding-right: 20px;
      }

      .wkp-handicap-popup-field-body {
        word-break: break-word;
      }
    }

    .wkp-handicap-popup-bottom {
      padding-top: 20px;
      min-width: 400px;
      display: flex;
      justify-content: space-between;

      .wkp-handicap-popup-element {
        width: 50%;
      }
    }
  }
}

.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .wkp-handicap-popup {
    min-width: 200px;

    .wkp-handicap-popup-bottom {
      min-width: 200px;
    }
  }
}
