.wkp-single-value-wrapper {
  border: 1px solid white;
  height: 100%;
  color: grey;
  align-items: center;
  display: flex;
  padding: 5px;

  .wkp-single-value-globe {
    height: 28px;
    width: 28px;

    path {
      stroke: grey;
    }
  }

  .wkp-single-value-selected {
    padding-right: 5px;
  }

  &:hover {
    color: #eb0000;

    .wkp-single-value-globe {
      path {
        stroke: #eb0000;
      }
    }
  }

  .wkp-select-toggle {
    height: 20px;
    width: 20px;
    transition: transform 0.4s ease-in-out;
    display: inline-block;
  }

  .wkp-select-toggle-rotate {
    transform-origin: 50% 50%;
    transform: rotate(-180deg);
  }
}

.wkp-menu-opened {
  border: 1px solid #666;
  border-radius: 0.14286em;
  border-bottom: none;
}
