@import "../../globals";

.tm-trafimage-maps {
  .wkp-station-popup {
    // svg {
    //   margin-left: 5px;
    // }

    // div {
    //   padding: 3px 0;
    //   border-width: 0 0 1px 0;
    //   border-style: solid;
    //   border-color: #eee;

    //   &:last-child {
    //     border: none;
    //   }
    // }

    // a {
    //   text-decoration: none;
    // }

    // .wkp-coordinates-infos {
    //   overflow: hidden;
    //   max-height: 150px;
    //   transition: all 0.3s;
    //   display: block;
    //   cursor: initial;
    //   margin-left: 15px;

    //   span {
    //     padding: 2px 0;
    //     display: block;
    //   }

    //   .wkp-projection-label {
    //     font-style: italic;
    //   }

    //   &.wkp-closed {
    //     max-height: 0;
    //     padding: 0;
    //   }
    // }

    // .wkp-coordinate-toggle {
    //   padding: 0;
    //   padding-bottom: 3px;
    // }

    // .wkp-departure-btn,
    // .wkp-popup-plans,
    // .wkp-coordinate-toggle {
    //   &:hover {
    //     color: $brand-primary-hover;
    //   }
    // }

    // & > .wkp-bahnhofplan-links {
    //   height: 0;
    //   transition: height 900ms;
    //   display: none;
    //   margin-left: 15px;

    //   &.wkp-visible {
    //     height: 100%;
    //     display: block;
    //   }

    //   & .wkp-bahnhofplan-popup {
    //     border: none;
    //   }
    // }
  }
}
