@import '../../globals.scss';

.wkp-header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #b7b7b7;
  height: 100px;
  z-index: 1;

  .wkp-header-right {
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;

    .wkp-header-sbb-logo {
      height: 22px;
      width: 198px;
    }
  }
}

.tm-trafimage-maps {
  &.tm-w-l {
    .wkp-header {
      .wkp-login {
        margin-right: 10px;
      }
    }
  }

  &.tm-w-m {
    .wkp-header {
      .wkp-login {
        margin-right: 11px;
      }
    }
  }

  &.tm-w-s {
    .wkp-header {
      .wkp-login {
        margin-right: 13px;
      }
    }
  }


  &.tm-w-xs {
    .wkp-header {
      .wkp-login {
        margin-right: 9px;

        .wkp-login-text {
          display: none;
        }
      }
    }

    .wkp-header-sbb-logo {
      width: 110px;
    }
  }
}
