@import '../../globals.scss';

.wkp-header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 40%);
  border-bottom: 1px solid #b7b7b7;
  height: 100px;
  z-index: 1;

  .wkp-header-right {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    left: calc(100% - 475px);
    gap: 10px;
    margin: 0 10px;
    justify-content: flex-end;

    .wkp-header-sbb-logo-wrapper {
      height: 22px;
      max-width: 198px;

      .wkp-header-sbb-logo {
        height: 100%;
        width: 100%;
      }
    }

    .wkp-login {
      .wkp-login-text {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90px;
      }
    }
  }
}

.tm-trafimage-maps {
  &.tm-w-xs {
    .wkp-header {
      .wkp-login {
        margin-right: 9px;

        .wkp-login-text {
          display: none;
        }
      }
    }

    .wkp-header-sbb-logo-wrapper {
      width: 100px;
      position: relative;
    }
  }
}
