.wkp-header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  height: 100px;
  z-index: 1;

  .wkp-header-right {
    margin-right: 10px;
  }
}
