.wkp-infofpw-popup {
  div {
    line-height: 1.42857143;
  }

  .wkp-infofpw-popup-images {
    text-align: center;

    img {
      max-width: 270px;
    }
  }
}

.rs-popup > div {
  min-width: 300px;
}

.wkp-feature-information-body {
  max-height: 220px;
  overflow-y: auto;
}
