.wkp-kilometrage-popup {
  min-width: 155px !important;

  div {
    padding: 3px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #eee;

    &:last-child {
      border: none;
    }
  }
}
