@import "../../globals";

.tm-trafimage-maps {
  .wkp-netzkarte-popup {
    svg {
      margin-left: 5px;
    }

    > div {
      padding: 4px 0;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: #eee;
    }

    a {
      cursor: pointer;
      text-decoration: none;
    }

    .wkp-coordinates-infos {
      overflow: hidden;
      max-height: 150px;
      display: block;
      cursor: initial;
      margin-left: 15px;

      span {
        padding: 2px 0;
        display: block;
      }

      .wkp-projection-label {
        font-style: italic;
      }

      &.wkp-closed {
        max-height: 0;
        padding: 0;
      }
    }

    .wkp-departure-btn,
    .wkp-popup-plans,
    .wkp-coordinate-toggle {
      &:hover {
        color: $brand-primary-hover;
      }
    }

    & > .wkp-bahnhofplan-links {
      height: 0;
      display: none;
      margin-left: 15px;
      border: none;

      &.wkp-visible {
        height: auto;
        display: block;
      }

      & .wkp-bahnhofplan-popup {
        border: none;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
