.wkp-zweitausbildung-layer-info {
  & > div {
    margin-top: 14px;
  }

  & > div:first-child {
    margin-top: 0;
  }

  .wkp-zweitausbildung-layer-info-title {
    padding-bottom: 14px;
  }

  .wkp-zweitausbildung-layer-info-legend {
    display: table;
    margin-top: 1em;

    img {
      vertical-align: middle;
      padding-right: 10px;
    }
  }
}
