.wkp-dialog {
  .tm-dialog,
  .tm-modal {
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);

    .tm-dialog-container {
      min-width: 320px;
      width: auto;
      overflow: visible;

      .tm-dialog-header {
        padding: 0 20px;
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid #eee;
      }

      .tm-dialog-draggable {
        cursor: move;
      }
    }

    .tm-dialog-body {
      padding: 20px;
      width: auto;
      text-align: left;
      max-height: calc(100% - 70px);

      p {
        margin: 0;
        margin-top: 1em;
      }
    }
  }

  .tm-dialog {
    position: absolute;
    left: 390px;
  }

  .tm-modal {
    .tm-dialog-container {
      width: 650px;
      height: auto;
      max-height: calc(100% - 125px);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }

    .tm-dialog-container,
    .tm-dialog-body {
      margin-top: 0;
      height: auto;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      border-bottom: 1px solid #eee;
    }
  }
}

.tm-w-m,
.tm-w-l,
.tm-w-xl {
  .tm-dialog {
    top: 125px;
  }
}

.tm-w-m {
  .tm-dialog {
    left: 350px;
  }
}

.tm-w-xs,
.tm-w-s {
  .tm-dialog {
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
    height: calc(40% - 10px);
    max-height: 50%;
    margin: auto;
    transform: none !important; // block drag

    .tm-dialog-container {
      width: 100%;
      height: 100%;
    }

    .tm-dialog-body {
      height: calc(100% - 50px);
      overflow-y: auto;
      overflow-x: auto;
    }
  }

  .tm-modal {
    .tm-dialog-container {
      width: calc(100% - 40px);
    }
  }
}
