.wkp-dialog {
  .tm-dialog,
  .tm-modal {
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);

    .tm-dialog-container {
      min-width: 320px;
      width: auto;
      overflow: visible;

      .tm-dialog-header {
        padding: 0 20px;
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid #eee;
      }

      .tm-dialog-draggable {
        cursor: move;
      }
    }

    .tm-dialog-body {
      padding: 20px;
      width: auto;
      text-align: left;
      max-height: calc(100% - 70px);

      p {
        margin: 0;
        margin-top: 1em;
      }
    }
  }

  .tm-dialog {
    position: absolute;
    width: auto;
    height: auto;
    cursor: initial;
    left: 390px;
  }

  .tm-modal {
    .tm-dialog-container {
      width: 650px;
      height: auto;
      max-height: calc(100% - 125px);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }

    .tm-dialog-container,
    .tm-dialog-body {
      margin-top: 0;
      height: auto;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #eee;
    }

    .tm-dialog-body {
      overflow-y: auto;
    }
  }
}

.tm-w-m,
.tm-w-l,
.tm-w-xl {
  .tm-dialog {
    top: 125px;
  }
}

.tm-w-m {
  .tm-dialog {
    left: 350px;
  }
}

.tm-w-xs,
.tm-w-s {
  .wkp-dialog {
    .tm-rnd {
      top: unset !important;
      bottom: 0 !important;
      width: calc(100% - 20px) !important;
      height: calc(40% - 10px) !important;
      max-height: 50% !important;
      transform: none !important; // block drag

      .tm-dialog {
        height: 100%;
        width: 100%;
        margin: 0;
        bottom: 10px;
        left: 10px;
        right: 10px;

        .tm-dialog-body {
          height: calc(100% - 50px);
          padding-bottom: 0;
          overflow-y: auto;
          overflow-x: auto;
        }
      }
    }
  }

  .tm-modal {
    .tm-dialog-container {
      width: calc(100% - 40px);
    }
  }
}
