.wkp-dialog {
  .tm-rnd {
    bottom: unset;
  }

  .tm-dialog,
  .tm-modal {
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);

    .tm-dialog-container {
      min-width: 320px;
      width: auto;
      overflow: visible;

      .tm-dialog-header {
        padding: 0 20px;
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid #eee;
      }

      .tm-dialog-draggable {
        cursor: move;
      }
    }

    .tm-dialog-body {
      padding: 20px;
      width: auto;
      text-align: left;
      min-height: 100px;
      overflow: auto;

      p {
        margin: 0;
        margin-top: 1em;
      }
    }
  }

  .tm-dialog {
    position: absolute;
    width: auto;
    height: auto;
    cursor: initial;
    left: 390px;
  }

  .tm-modal {
    .tm-dialog-container {
      width: 650px;
      height: auto;
      max-height: calc(100% - 125px);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }

    .tm-dialog-container,
    .tm-dialog-body {
      margin-top: 0;
      height: auto;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #eee;
    }

    .tm-dialog-body {
      overflow-y: auto;
    }
  }
}

.tm-w-m,
.tm-w-l,
.tm-w-xl {
  .tm-dialog {
    top: 125px;
  }
}

.tm-w-m {
  .tm-dialog {
    left: 350px;
  }
}

.tm-w-xs,
.tm-w-s {
  .wkp-dialog {
    .tm-rnd {
      .tm-dialog {
        position: relative;
        max-height: calc(100vh / 2);
        left: 0;
        right: 0;
        top: unset;
        bottom: 0;

        .tm-dialog-body {
          max-height: calc((100vh / 2) - 100px);
          max-width: calc(100vw - 60px);
        }
      }
    }
  }

  .tm-modal {
    .tm-dialog-container {
      width: calc(100% - 40px);
    }
  }
}
