.tm-dialog,
.tm-modal {
  z-index: 10000;

  .tm-dialog-container {
    width: 320px;
    overflow: hidden;

    .tm-dialog-header {
      padding: 0 20px;
      text-align: left;
      font-weight: bold;
    }

    .tm-dialog-draggable {
      cursor: move;
    }
  }

  .tm-dialog-body {
    padding: 0 20px;
    margin: 0 0 20px 0;
    width: auto;
    text-align: left;
    overflow: hidden auto;
    max-height: calc(100% - 70px);
  }
}

.tm-dialog {
  position: absolute;
  left: 390px;
}

.wkp-dialog {
  .tm-modal {
    .tm-dialog-container {
      width: 600px;
      max-height: 500px;
    }

    .tm-dialog-container,
    .tm-dialog-body {
      height: calc(100% - 70px);
    }
  }
}

.tm-w-m,
.tm-w-l,
.tm-w-xl {
  .tm-dialog {
    top: 125px;
  }
}

.tm-w-m {
  .tm-dialog {
    left: 350px;
  }
}

.tm-w-xs,
.tm-w-s {
  .tm-dialog {
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
    height: calc(40% - 10px);
    max-height: 50%;
    margin: auto;
    transform: none !important; // block drag

    .tm-dialog-container {
      width: 100%;
      height: 100%;
    }

    .tm-dialog-body {
      height: calc(100% - 50px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .tm-modal {
    .tm-dialog-container {
      width: calc(100% - 40px);
    }
  }
}
