.tm-dialog,
.tm-modal {
  z-index: 10000;

  .tm-dialog-container {
    width: 320px;
    overflow: hidden;
    font-size: 14px;
    font-family: Arial, sans-serif;

    .tm-dialog-header {
      padding: 0 20px;
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid #e5e5e5;
      min-height: 16.42857143px;
      background-color: #f5f5f5;
    }

    .tm-dialog-draggable {
      cursor: move;
    }
  }

  .tm-dialog-body {
    padding: 0 20px 20px 20px;
    width: auto;
    text-align: left;
    max-height: 400px;
  }
}

.tm-dialog {
  position: absolute;
  left: 390px;
}

.tm-dialog-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  line-height: 20px;
}

.tm-w-m,
.tm-w-l,
.tm-w-xl {
  .tm-dialog {
    top: 125px;
  }
}

.tm-w-m {
  .tm-dialog {
    left: 350px;
  }
}

.tm-w-xs,
.tm-w-s {
  .tm-dialog {
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
    height: calc(40% - 10px);
    max-height: 50%;
    margin: auto;
    transform: none !important; // block drag

    .tm-dialog-container {
      width: 100%;
      height: 100%;
    }

    .tm-dialog-body {
      height: calc(100% - 50px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
