.wkp-dialog {
  .tm-rnd {
    display: flex;
  }

  .tm-dialog,
  .tm-modal {
    z-index: 10000;
    background: rgba(0, 0, 0, 0.4);

    .tm-dialog-container {
      min-width: 320px;
      width: auto;
      overflow: visible;
      display: flex;
      flex-direction: column;

      .tm-dialog-header {
        padding: 0 20px;
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid #eee;
      }

      .tm-dialog-draggable {
        cursor: move;
      }
    }

    .tm-dialog-body {
      width: auto;
      text-align: left;
      min-height: 100px;
      overflow: auto;

      p {
        margin: 0;
        margin-top: 1em;
      }
    }

    .tm-dialog-body > div:first-child  {
      padding: 20px;
    }
  }

  .tm-dialog {
    position: absolute;
    width: auto;
    height: auto;
    cursor: initial;
    left: 390px;
  }

  .tm-modal {
    .tm-dialog-container {
      width: 650px;
      height: auto;
      max-height: calc(100% - 125px);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }

    .tm-dialog-container,
    .tm-dialog-body {
      margin-top: 0;
      height: auto;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #eee;
    }

    .tm-dialog-body {
      overflow-y: auto;
    }
  }
}

.tm-w-m {
  .tm-dialog {
    left: 350px;
  }
}

.tm-w-m,
.tm-w-l,
.tm-w-xl {
  .tm-dialog {
    top: 125px;
  }
}

.tm-w-xs,
.tm-w-s {
  .tm-modal {
    .tm-dialog-container {
      width: calc(100% - 40px);
    }
  }

  .wkp-dialog {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    pointer-events: none;
    margin: auto;

    .tm-dialog {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      height: 100%;
      pointer-events: none;
      margin: auto;
      background: transparent;

      .tm-dialog-container {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        max-height: 50%;
        pointer-events: all;

        .tm-dialog-body {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
