.wkp-maps-geo-admin-layer-info {
  max-height: 50vh;

  .bod-title {
    font-family: SBBWeb-Bold, Arial, sans-serif;
  }

  .legend-footer {
    display: none;
  }

  .wkp-maps-geo-admin-layer-info-footer {
    margin: 10px 0;
    padding-bottom: 20px;

    img {
      margin: 10px 0;
    }

    span {
      display: flex;
      align-items: baseline;
      white-space: pre;
    }
  }
}
