.wkp-maps-geo-admin-layer-info {
  .legend-container {
    .bod-title {
      font-weight: bold;
    }

    .legend-footer {
      span {
        font-weight: bold;
      }

      .img-container {
        padding: 10px 0;
      }
    }
  }
}
