@import '../../globals.scss';

.wkp-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background: white;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.4);
  font-size: $footer-font-size;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 5px;

  select {
    display: none; // Hide select from react-spatial MousePosition
  }

  input {
    /*
     * Hide dummyInput from react-select
     * before issue resolved: https://github.com/JedWatson/react-select/issues/3995
     */
    position: absolute !important;
    top: 0;
  }

  #ot-sdk-btn.ot-sdk-show-settings {
    font-size: inherit;
    font-family: inherit;
    border: none;
    background: transparent;
    color: inherit;
    padding: 0;
    transition: none;

    &:hover {
      background: transparent;
      color: $brand-primary-hover;
    }
  }

  .wkp-footer-right {
    a,
    button {
      cursor: pointer;
    }

    a:not(.MuiIconButton-root) {
      margin: 0 10px;
    }
  }

  .wkp-footer-left,
  .wkp-footer-right {
    display: flex;
    align-items: center;

    a:not(.MuiIconButton-root) {
      white-space: nowrap;
      text-decoration: none;
    }
  }

  .rs-scale-line {
    min-width: 160px;
    display: flex;
    justify-content: center;
    margin: 0 5px;

    .ol-scale-line-inner {
      color: #000;
      border-color: #000;
      border-width: 0 2px 2px 2px;
      font-size: $footer-font-size;
      text-align: center;
      padding: 0;
      height: 18px;
    }
  }

  .rs-mouse-position {
    display: flex;
    flex-direction: row;
    align-items: center;

    select {
      border: 1px solid #666;
      border-radius: 0.14286em;
    }

    span {
      display: block;
      margin-right: 10px;
      max-width: 55px;
    }
  }
}

.tm-w-s,
.tm-w-xs {
  .rs-mouse-position,
  .rs-scale-line {
    display: none;
  }
}

.tm-w-xs {
  .wkp-footer-left {
    font-size: 11px;
  }

  .wkp-footer-right {
    .wkp-dev-portal-link {
      display: none;
    }
  }

  .wkp-language-select {
    padding-right: 0;
  }
}
