.wkp-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: white;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 5px;

  .wkp-footer-left,
  .wkp-footer-right {
    display: flex;
  }

  .tm-scale-line {
    min-width: 160px;
    display: flex;
    justify-content: center;

    .ol-scale-line-inner {
      border-width: 0 2px 2px 2px;
      font-size: 12px;
      text-align: center;
    }
  }

  .wkp-impressum {
    a {
      margin-left: 30px;

      &:hover {
        color: #003d85;
      }
    }
  }

  /*
  > a:hover {
    color: #003d85;
    text-decoration: underline;
  }
  */

  .wkp-language-select {
    background: white;
  }

  .tm-mouse-position {
    width: 210px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    select {
      height: 25px;
      font-size: 12px;
      background-color: white;
    }

    span {
      display: block;
      margin-right: 10px;
    }
  }
}
