@import '../../globals.scss';

.wkp-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background: white;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.4);
  font-size: $footer-font-size;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 5px;

  select {
    height: 20px;
    font-size: $footer-font-size;
    border-radius: 0;
  }

  a {
    margin: 0 5px;
  }

  .wkp-footer-left {
    a {
      white-space: nowrap;
    }
  }

  .wkp-footer-left,
  .wkp-footer-right,
  .tm-scale-line {
    display: flex;
    align-items: center;
  }

  .tm-copyright {
    margin-right: 10px;
  }

  .tm-scale-line {
    min-width: 160px;
    display: flex;
    justify-content: center;
    margin: 0 5px;

    .ol-scale-line-inner {
      border-width: 0 2px 2px 2px;
      font-size: $footer-font-size;
      text-align: center;
      padding: 0;
      height: 18px;
    }
  }

  .tm-mouse-position {
    width: 320px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    span {
      display: block;
      margin-right: 10px;
    }
  }
}

.tm-w-m,
.tm-w-s,
.tm-w-xs {
  .tm-copyright {
    position: absolute;
    bottom: 32px;
    font-size: 11px;
  }
}

.tm-w-s,
.tm-w-xs {
  .tm-mouse-position,
  .tm-scale-line {
    display: none;
  }
}
