@import '../../globals.scss';

.wkp-search-toggle-container {
  display: none;
}

.wkp-search-toggle-container,
.wkp-search-toggle-container--open {
  max-width: 400px;
  min-width: 350px;
  position: relative;
  padding-top: 2px;
  float: right;
}

.wkp-search-toggle-button {
  background: none;
  border: none;
  position: absolute;
  top: 11px;
  right: 200px;
  font-size: 14px;
  margin-right: 40px;

  height: 30px;
  color: $brand-grey;
  align-items: center;
  display: flex;
  padding: 0 5px;

  svg {
    height: 25px;
    width: 25px;
    fill: $brand-grey;
  }

  span {
    padding-left: 2px;
  }

  &:hover {
    color: $brand-primary-hover;

    svg {
      fill: $brand-primary-hover;
    }
  }
}
