@import '../../Globals.scss';

.wkp-search-toggle-container,
.wkp-search-toggle-container--open {
  max-width: 400px;
  position: relative;
  margin: 0 auto;
}

.wkp-search-toggle-button {
  display: none;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 190px;
  width: 41px;

  svg {
    height: 25px;
    fill: grey;
  }

  &:hover {
    svg {
      fill: $brand-primary;
    }
  }
}

.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .wkp-search-toggle-container {
    display: none;
  }

  .wkp-search-toggle-button,
  .wkp-search-toggle-container--open {
    display: block;
    margin-right: 0;
  }
}
