@import '../../globals.scss';

.wkp-search-toggle-container,
.wkp-search-toggle-container--open {
  max-width: 400px;
  position: relative;
  margin: 0 auto;
}

.wkp-search-toggle-button {
  display: none;
  background: none;
  border: none;
  position: absolute;
  top: 9px;
  right: 200px;
  width: 39px;

  svg {
    height: 25px;
    width: 25px;
    fill: grey;
  }

  &:hover {
    svg {
      fill: $brand-primary;
    }
  }
}
