@import '../../globals.scss';

.rt-search {
  position: absolute;
  top: 25px;
  z-index: 3;

  .react-autosuggest__container {
    .react-autosuggest__input {
      border: 2px solid #b7b7b7;
      padding: 12px 15px;
      font-size: 14px;
      height: auto;
      width: calc(100% - 34px);
    }

    .react-autosuggest__suggestions-container--open {
      width: calc(100% - 4px);
      border: 2px solid #666;
    }

    .react-autosuggest__section-title {
      padding: 10px 15px 0;
      border-top: 1px solid lightgray;

      .wkp-search-section-header {
        font-weight: bold;
      }

      .wkp-search-section-count {
        color: #666;
        padding-top: 5px;
        position: relative;

        svg {
          position: absolute;
          top: -15px;
          right: 0;
        }
      }

      :hover {
        .wkp-search-section-count {
          color: $brand-primary;
        }
      }
    }

    .react-autosuggest__section-container--first {
      .react-autosuggest__section-title {
        border: none;
      }
    }
  }

  .rt-search-button {
    height: 45px;

    &.rt-search-button-submit {
      background-color: $brand-primary;
      border: none;
      width: 41px;
      height: 41px;
      position: absolute;
      right: 2px;
      top: 2px;
    }
  }
}
