@import '../../globals.scss';

.wkp-search {
  position: absolute;
  top: 25px;
  z-index: 2; // To be above header div, in order to be clickable.
  right: 480px;
  left: 400px;

  .wkp-search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #b7b7b7;
    height: 42px;
  }

  .wkp-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    height: 42px;
    width: 46px;
    position: absolute;
    top: 4px;
    right: 52px;
    font-size: 16px;

    &.wkp-search-button-clear {
      background: none;
      color: #666;
      right: 98px;
    }

    &.wkp-search-button-submit {
      background-color: $brand-primary;
    }
  }

  .react-autosuggest__input {
    border: 0;
    font-size: 14px;
    padding-left: 15px;
    border-radius: 0;
    -webkit-appearance: none;
    flex: 2 1 auto;
    height: 90%;

    &::-ms-clear {
      display: none;
    }
  }

  .react-autosuggest__suggestions-container--open {
    box-sizing: border-box;
    background: white;
    border: 2px solid #666;
    margin-top: 5px;
    width: 100%;
    padding-top: 15px;
    max-height: calc(100vh - 150px);
    overflow: auto;
  }

  .react-autosuggest__section-title {
    padding: 10px 15px 0;
    border-top: 1px solid lightgray;

    .wkp-search-section-header {
      font-weight: bold;
    }

    .wkp-search-section-count {
      color: #666;
      padding-top: 5px;
      position: relative;

      svg {
        position: absolute;
        top: -15px;
        right: 0;
      }
    }

    :hover {
      .wkp-search-section-count {
        color: $brand-primary-hover;
      }
    }
  }

  .react-autosuggest__section-container--first {
    .react-autosuggest__section-title {
      margin: 0;
      padding: 0 15px;
      border: none;
    }
  }

  .react-autosuggest__suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .react-autosuggest__suggestion {
    margin: 15px 15px 0;

    &.react-autosuggest__suggestion--highlighted {
      color: $brand-primary-hover;
    }

    :hover {
      cursor: pointer;
    }

    :last-child {
      margin-bottom: 15px;
    }
  }
}
