@import '../../Globals.scss';

.wkp-topic-menu {
  border-top-width: 0;

  .wkp-info-topic-bt {
    margin-right: 4px;
  }

  .wkp-info-layer-bt {
    top: 0;
    margin-right: 0;
  }

  .wkp-topic-menu-item-wrapper {
    display: flex;
    align-items: center;

    .wkp-topic-menu-item {
      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-right: 10px;

      .wkp-topic-title {
        display: flex;
      }

      .wkp-topic-radio {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 50%;
        margin-right: 7px;

        .wkp-topic-radio-dot {
          width: 12px;
          height: 12px;
          background: $brand-primary;
          border-radius: 50%;
        }
      }

      .wkp-layer-toggler {
        width: 5px;
        height: 5px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        transform: rotate(45deg);
        margin-left: 10px;

        &.collapsed {
          transform: rotate(225deg);
        }
      }
    }

    .wkp-info-topic-bt {
      color: #888;
      align-items: center;

      &.wkp-active {
        color: #000;
      }

      &.wkp-selected {
        color: $brand-primary;
      }
    }
  }

  .wkp-layer-tree {
    overflow: hidden;
    margin: 0 0 0 20px;

    .tm-layer-tree-item {
      color: #888;
      height: 30px;
      padding: 0;
      margin: 0 4px 0 4px;

      .tm-layer-tree-arrow {
        border-color: #888;
      }

      &.tm-visible {
        color: initial;

        .tm-layer-tree-arrow {
          border-color: black;
        }
      }
    }
  }

  .wkp-topic-content {
    transition: max-height 0.3s ease, margin 0.3s ease;
    max-height: 1000px;

    select {
      margin: 0 20px 5px 23px;
      height: 30px;
      width: 307px;
      display: none;
    }
  }
}

.tm-app.tm-w-m,
.tm-app.tm-w-s,
.tm-app.tm-w-xs {
  .wkp-topic-content {
    border-bottom: 1px solid #eee;

    select {
      display: block;
    }
  }

  .wkp-info-layer-bt {
    margin-right: 10px;
  }

  .wkp-topic-menu-item-wrapper {
    padding: 0 10px;
  }

  .wkp-topic-menu-item {
    height: 60px;

    &.active {
      border-bottom: 1px solid #eee;
    }
  }
}
