@import '../../globals.scss';

.wkp-topics-menu-body {
  border-top-width: 0;

  .wkp-topic-title,
  .wkp-lock-icon,
  .rs-layer-tree-item,
  .wkp-info-bt {
    color: #888;

    &.wkp-active {
      color: #000;
    }

    &.wkp-selected {
      color: $brand-primary-hover;
    }
  }

  .wkp-info-bt {
    display: flex;
    align-items: center;
    width: 14px;
    padding: 0;

    &.wkp-active:hover,
    &:hover {
      color: $brand-primary-hover;
    }
  }

  .wkp-topic-menu-item-wrapper {
    display: flex;
    align-items: center;
    height: $menu-item-height;

    .wkp-topic-menu-item {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      overflow: visible;

      .wkp-topic-title {
        display: flex;
        align-items: center;
        max-width: 300px;
      }

      .wkp-topic-radio {
        min-width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 50%;
        margin-right: 7px;

        .wkp-topic-radio-dot {
          width: 12px;
          height: 12px;
          background: $brand-primary;
          border-radius: 50%;
        }
      }

      .wkp-layer-toggler {
        width: 5px;
        height: 5px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        transform: rotate(45deg);
        margin-left: 10px;
        margin-top: 3px;

        &.collapsed {
          margin-top: 0;
          transform: rotate(225deg);
        }
      }
    }

    .wkp-topic-icons {
      display: flex;
      align-items: center;
      height: 100%;
      width: 42px;
      min-width: 14px;
      margin-left: 5px;
      justify-content: flex-end;
    }

    .wkp-lock-icon {
      cursor: pointer;
    }

    .wkp-lock-left {
      margin-right: 4px;
    }
  }

  .wkp-layer-tree {
    overflow: hidden;
    margin: 0 0 0 20px;

    .rs-layer-tree {
      overflow: hidden;
    }

    .wkp-info-bt {
      height: 14px;
      width: 14px;
      margin-right: 0;
    }

    .rs-layer-tree-item {
      /*
      Before we set a fixed 30px height but it's not nice when the layer is on multiple line
      With height auto and a padding the height is the same when the layer's name is on one line
      */
      height: auto;
      padding: 6px 0;
      margin: 0 0 0 4px;

      .rs-layer-tree-toggle {
        line-height: 14px;
        max-width: 264px;
      }

      .rs-layer-tree-arrow {
        border-color: #888;
      }

      &.rs-visible {
        color: initial;

        .rs-layer-tree-arrow {
          border-color: black;
        }
      }
    }
  }

  .wkp-topic-filter {
    margin: 10px 20px;
  }

  .wkp-topic-content {
    transition: max-height 0.3s ease, margin 0.3s ease;
    max-height: 2500px;
  }
}

.tm-w-xl,
.tm-w-l {
  .wkp-topic-menu {
    .wkp-topic-filter {
      margin: 5px 40px 5px 20px;
    }
  }
}
