@import '../../globals.scss';

.wkp-topic-menu {
  border-top-width: 0;

  .wkp-topic-menu-item-wrapper {
    padding-bottom: 4px;
    display: flex;
    align-items: center;

    .wkp-topic-menu-item {
      height: 30px;
      width: 100%;
      display: flex;
      align-items: center;
      padding-right: 5px;

      .wkp-topic-title {
        display: flex;
        align-items: center;
      }

      .wkp-topic-radio {
        min-width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid grey;
        border-radius: 50%;
        margin-right: 7px;

        .wkp-topic-radio-dot {
          width: 12px;
          height: 12px;
          background: $brand-primary;
          border-radius: 50%;
        }
      }

      .wkp-layer-toggler {
        width: 5px;
        height: 5px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        transform: rotate(45deg);
        margin-left: 10px;
        margin-top: 3px;

        &.collapsed {
          margin-top: 0;
          transform: rotate(225deg);
        }
      }
    }

    .wkp-topic-icons {
      display: flex;
      align-items: center;
      margin-top: 4px;
      width: auto;
    }

    .wkp-lock-icon {
      cursor: pointer;
      color: #888;

      &.wkp-active {
        color: #000;
      }
    }

    .wkp-info-topic-bt {
      display: flex;
      align-items: center;
      color: #888;
      margin-left: 4px;

      &.wkp-active {
        color: #000;
      }

      &.wkp-selected {
        color: $brand-primary;
      }
    }
  }

  .wkp-layer-tree {
    overflow: hidden;
    margin: 0 0 0 20px;

    .rs-layer-tree {
      overflow: hidden;
    }

    .wkp-info-layer-bt {
      top: 0;
      height: 14px;
      width: 14px;
      margin-right: 0;
    }

    .rs-layer-tree-item {
      color: #888;
      height: 30px;
      padding: 0;
      margin: 0 0 1px 4px;

      .rs-layer-tree-toggle {
        line-height: 14px;
      }

      .rs-layer-tree-arrow {
        border-color: #888;
      }

      &.rs-visible {
        color: initial;

        .rs-layer-tree-arrow {
          border-color: black;
        }
      }
    }
  }

  .wkp-topic-content {
    transition: max-height 0.3s ease, margin 0.3s ease;
    max-height: 1000px;

    select {
      margin: 4px 20px 5px 23px;
      height: 30px;
      width: 307px;
      display: none;
    }
  }
}
