@import "../../globals";

.wkp-login {
  margin-right: 6px;
  padding-top: 2px;
  color: $brand-grey;
  display: flex;
  align-items: center;

  .wkp-login-icon {
    float: left;
    margin-bottom: 2px;
    height: 28px;
    width: 28px;

    path {
      stroke: $brand-grey;
    }
  }

  &:hover {
    color: $brand-primary-hover;

    svg {
      path {
        stroke: $brand-primary-hover;
      }
    }
  }
}
