@import '../../globals.scss';
// $primary-color: #444;
// $primary-color: #DCDCDC;
// $primary-color-hover: #666666;

.wkp-fit-extent {
  svg {
    width: 30px;
    height: 30px;

    path {
      stroke: white;
      stroke-width: 3;
    }
  }
}

.wkp-geolocation {
  svg {
    width: 30px;
    height: 30px;
    margin-top: -1px;
    margin-left: -1px;

    path {
      stroke: white;
      stroke-width: 3;
    }
  }
}

.wkp-geolocation,
.wkp-fit-extent {
  margin: 20px 0;
  background: $brand-primary;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background: $brand-primary-hover;
  }
}

.wkp-map-controls {
  position: absolute;
  right: 15px;
  top: 110px;

  .rs-zooms-bar {
    .rs-zoom-in,
    .rs-zoom-out {
      margin: 10px 0;
      background: $brand-primary;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transition: background-color 0.5s ease, color 0.5s ease;
      transition: background-color 0.5s ease, color 0.5s ease;

      &:hover {
        background: $brand-primary-hover;
      }

      svg {
        height: 25px;
        width: 25px;

        path {
          stroke: white;
          stroke-width: 4;
        }
      }
    }

    .rs-zoomslider-wrapper {
      .ol-zoomslider {
        border: 2px solid #b7b7b7;

        .ol-zoomslider-thumb {
          background: $brand-primary;

          &:hover {
            background: $brand-primary-hover;
          }
        }
      }
    }
  }
}

.tm-h-s {
  .wkp-map-controls {
    .rs-zooms-bar {
      .ol-zoomslider {
        height: 150px;
      }
    }
  }
}

.tm-h-xs {
  .wkp-map-controls {
    .rs-zooms-bar {
      .ol-zoomslider {
        height: 120px;
      }
    }
  }
}
