.wkp-zweitausbildung-sub-layer-info {
  .wkp-zweitausbildung-sub-layer-info-title {
    padding-bottom: 14px;
  }

  .wkp-zweitausbildung-sub-layer-info-legend {
    div {
      height: 31px;
      margin: 0;
    }

    img {
      float: left;
      padding-right: 10px;
    }
  }
}
