// Colors
$brand-primary: #eb0000;
$brand-secondary: #003d85;
$footer-height: 30px;
$footer-font-size: 12px;
$menu-item-height: 30px;

// BarrierFree
$bf-large-outline: 4px solid black !important;
$bf-outline: 2px solid black !important;
