.wkp-menu-wrapper {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 371px;
  z-index: 2;
}

.tm-app.tm-w-m .wkp-menu-wrapper,
.tm-app.tm-w-s .wkp-menu-wrapper,
.tm-app.tm-w-xs .wkp-menu-wrapper {
  top: 0;
  left: 0;
}

.tm-app.tm-w-m.header .wkp-menu-wrapper,
.tm-app.tm-w-s.header .wkp-menu-wrapper,
.tm-app.tm-w-xs.header .wkp-menu-wrapper {
  top: 0;
  width: 345px;
}

.wkp-feature-information {
  min-height: 50px;
}

.wkp-feature-information .wkp-pagination-wrapper {
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}

.wkp-feature-information .wkp-pagination-wrapper .wkp-pagination-button-wrapper {
  padding: 0 10px;
  height: 25px;
  width: 25px;
}

.wkp-feature-information .wkp-pagination-wrapper .wkp-pagination-button-wrapper .wkp-pagination-button,
.wkp-feature-information .wkp-pagination-wrapper .wkp-pagination-button-wrapper .wkp-pagination-button svg {
  height: 25px;
  width: 25px;
}

.wkp-menu-item-header {
  height: 15px;
  border: none;
  display: flex;
  align-items: center;
  padding: 15px 10px 15px 15px;
  margin: 3px;
}

.wkp-menu-item-header.open {
  border-bottom: 1px solid #eee;
}

.wkp-menu-item-header .wkp-menu-item-header-icon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.wkp-menu-item-header .wkp-menu-item-header-toggler {
  width: 15px;
  height: 15px;
}

.wkp-menu-item-header .wkp-menu-item-header-icon svg,
.wkp-menu-item-header .wkp-menu-item-header-toggler svg {
  width: 100%;
  height: 100%;
}

.wkp-menu-item-header .wkp-menu-item-header-title {
  flex-grow: 2;
}

.wkp-collapsible-vertical {
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

.wkp-collapsible-horizontal {
  overflow: hidden;
  -webkit-transition: max-width 0.3s ease;
  transition: max-width 0.3s ease;
}

.wkp-topic-menu-item .wkp-menu-title {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 15px;
  align-items: center;
}

.wkp-topic-menu-item .wkp-menu-title .wkp-menu-title-left {
  display: flex;
  align-items: center;
}

.wkp-menu-item {
  border: 2px solid #666;
  background: #fff;
  max-height: 1000px;
  overflow: hidden;
  margin-top: 5px;
}

.wkp-menu-item .wkp-menu-item {
  border: none;
}

.wkp-menu-item .wkp-menu-item-body {
  min-width: 250px;
  max-height: 1000px;
  overflow-y: auto;
  padding: 5px 0 0;
}

.wkp-menu-item.closed {
  border-width: 0;
}

.wkp-menu-item .wkp-collapsible-vertical {
  overflow: hidden auto;
}

.wkp-tracker-menu .wkp-trajectory .wkp-trajectory-stop {
  display: flex;
}

.wkp-tracker-menu .wkp-trajectory .wkp-trajectory-stop .wkp-trajectory-stop-time {
  border-right: 4px solid #003d85;
  padding: 10px;
  position: relative;
}

.wkp-tracker-menu .wkp-trajectory .wkp-trajectory-stop .wkp-trajectory-stop-time .wkp-trajectory-stop-icon {
  height: 6px;
  width: 6px;
  border: 2px solid #003d85;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: 12px;
}

.wkp-tracker-menu .wkp-trajectory .wkp-trajectory-stop .wkp-trajectory-stop-name {
  padding: 10px;
}

.wkp-tracker-menu .rt-tracker-control {
  padding: 15px 10px 0;
}

.wkp-share-permalink-button {
  position: relative;
  width: 20px;
}

.wkp-share-permalink-button .tm-permalink-field,
.wkp-share-permalink-button .wkp-arrow-left,
.wkp-share-permalink-button .wkp-tooltip {
  border: 1px solid #d3d3d3;
}

.wkp-share-permalink-button .wkp-tooltip {
  position: fixed;
  background: #fff;
  width: 400px;
  z-index: 1000;
  height: auto;
  padding: 10px;
}

.wkp-share-permalink-button .wkp-tooltip .tm-permalink-field {
  position: relative;
  width: 375px;
  height: 30px;
  padding-left: 5px;
}

.wkp-share-permalink-button .wkp-tooltip .tm-permalink-field div[role='button'] {
  border-left: 1px solid #d3d3d3;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wkp-share-permalink-button .wkp-arrow-left {
  position: absolute;
  left: -6px;
  top: 20px;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  background: #fff;
}

.wkp-share-permalink-button .wkp-close-bt {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
}

.wkp-share {
  width: 100%;
  display: flex;
}

.wkp-share > div {
  width: 30px;
  height: 30px;
  margin: 10px 0 10px 20px;
}

.wkp-share .ta-mail-icon a,
.wkp-share > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wkp-share .ta-mail-icon a svg {
  font-size: 23px;
  margin-bottom: 2px;
}

.wkp-share .wkp-share-permalink-button > div[role='button'] {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wkp-share .wkp-share-permalink-button > div[role='button'] svg {
  font-size: 20px;
}

.wkp-share .ta-facebook-icon {
  width: 16px;
  font-size: 30px;
}

.wkp-share .ta-twitter-icon,
.wkp-share .tm-canvas-save-button {
  font-size: 30px;
}

.wkp-share .tm-canvas-save-button {
  font-size: 28px;
}

.ta-facebook-icon a,
.ta-mail-icon a,
.ta-twitter-icon a,
.wkp-share-permalink-button .tm-button {
  height: 30px;
  width: 30px;
}

.wkp-header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #b7b7b7;
  height: 100px;
  z-index: 1;
}

.wkp-header .wkp-header-right {
  margin-right: 10px;
}

.tm-app.tm-w-m .wkp-header,
.tm-app.tm-w-s .wkp-header,
.tm-app.tm-w-xs .wkp-header {
  height: 55px;
}

.wkp-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: #fff;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 5px;
}

.wkp-footer select {
  height: 20px;
  font-size: 12px;
  border-radius: 0;
}

.wkp-footer a {
  margin: 0 5px;
}

.wkp-footer .tm-scale-line,
.wkp-footer .wkp-footer-left,
.wkp-footer .wkp-footer-right {
  display: flex;
  align-items: center;
}

.wkp-footer .tm-copyright {
  margin-right: 10px;
}

.wkp-footer .tm-scale-line {
  min-width: 160px;
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.wkp-footer .tm-scale-line .ol-scale-line-inner {
  border-width: 0 2px 2px;
  font-size: 12px;
  text-align: center;
  padding: 0;
  height: 18px;
}

.wkp-footer .tm-mouse-position {
  width: 320px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.wkp-footer .tm-mouse-position span {
  display: block;
  margin-right: 10px;
}

.tm-w-m .tm-copyright,
.tm-w-s .tm-copyright,
.tm-w-xs .tm-copyright {
  position: absolute;
  bottom: 32px;
  font-size: 11px;
}

.tm-w-s .tm-mouse-position,
.tm-w-s .tm-scale-line,
.tm-w-xs .tm-mouse-position,
.tm-w-xs .tm-scale-line {
  display: none;
}

.wkp-map-controls {
  position: absolute;
  right: 15px;
  top: 110px;
}

.wkp-fit-extent,
.wkp-geolocation,
.wkp-zoom-in,
.wkp-zoom-out {
  margin: 10px 0;
  background: #003d85;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.wkp-fit-extent,
.wkp-geolocation {
  margin: 20px 0;
}

.tm-app.tm-w-m .wkp-map-controls,
.tm-app.tm-w-s .wkp-map-controls,
.tm-app.tm-w-xs .wkp-map-controls {
  top: 60px;
}

.tm-app.tm-h-m .wkp-fit-extent,
.tm-app.tm-h-m .wkp-geolocation,
.tm-app.tm-h-m .wkp-zoom-in,
.tm-app.tm-h-m .wkp-zoom-out,
.tm-app.tm-h-s .wkp-fit-extent,
.tm-app.tm-h-s .wkp-geolocation,
.tm-app.tm-h-s .wkp-zoom-in,
.tm-app.tm-h-s .wkp-zoom-out,
.tm-app.tm-h-xs .wkp-fit-extent,
.tm-app.tm-h-xs .wkp-geolocation,
.tm-app.tm-h-xs .wkp-zoom-in,
.tm-app.tm-h-xs .wkp-zoom-out {
  margin: 10px 0;
}

.tm-app.tm-h-s .tm-zoomslider-wrapper,
.tm-app.tm-h-xs .tm-zoomslider-wrapper {
  display: none;
}

.tm-popup div:first-child {
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wkp-dialog .tm-dialog,
.wkp-dialog .tm-modal {
  z-index: 10000;
  background: rgba(0, 0, 0, 0.4);
}

.wkp-dialog .tm-dialog .tm-dialog-container,
.wkp-dialog .tm-modal .tm-dialog-container {
  min-width: 320px;
  width: auto;
  overflow: hidden;
}

.wkp-dialog .tm-dialog .tm-dialog-container .tm-dialog-header,
.wkp-dialog .tm-modal .tm-dialog-container .tm-dialog-header {
  padding: 0 20px;
  text-align: left;
  font-weight: 700;
  border-bottom: 1px solid #eee;
}

.wkp-dialog .tm-dialog .tm-dialog-container .tm-dialog-draggable,
.wkp-dialog .tm-modal .tm-dialog-container .tm-dialog-draggable {
  cursor: move;
}

.wkp-dialog .tm-dialog .tm-dialog-body,
.wkp-dialog .tm-modal .tm-dialog-body {
  padding: 0 30px;
  margin: 10px 0 20px;
  width: auto;
  text-align: left;
  max-height: calc(100% - 70px);
}

.wkp-dialog .tm-dialog {
  position: absolute;
  left: 390px;
}

.wkp-dialog .tm-modal .tm-dialog-container {
  width: 650px;
  height: auto;
  max-height: calc(100% - 125px);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.wkp-dialog .tm-modal .tm-dialog-body,
.wkp-dialog .tm-modal .tm-dialog-container {
  margin-top: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-bottom: 1px solid #eee;
}

.tm-w-l .tm-dialog,
.tm-w-m .tm-dialog,
.tm-w-xl .tm-dialog {
  top: 125px;
}

.tm-w-m .tm-dialog {
  left: 350px;
}

.tm-w-s .tm-dialog,
.tm-w-xs .tm-dialog {
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: calc(100% - 20px);
  height: calc(40% - 10px);
  max-height: 50%;
  margin: auto;
  -webkit-transform: none !important;
  transform: none !important;
}

.tm-w-s .tm-dialog .tm-dialog-container,
.tm-w-xs .tm-dialog .tm-dialog-container {
  width: 100%;
  height: 100%;
}

.tm-w-s .tm-dialog .tm-dialog-body,
.tm-w-xs .tm-dialog .tm-dialog-body {
  height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: auto;
}

.tm-w-s .tm-modal .tm-dialog-container,
.tm-w-xs .tm-modal .tm-dialog-container {
  width: calc(100% - 40px);
}

.wkp-search-toggle-container,
.wkp-search-toggle-container--open {
  max-width: 400px;
  position: relative;
  margin: 0 auto;
}

.wkp-search-toggle-button {
  display: none;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 190px;
  width: 41px;
}

.wkp-search-toggle-button svg {
  height: 25px;
  fill: grey;
}

.wkp-search-toggle-button:hover svg {
  fill: #eb0000;
}

.tm-app.tm-w-s .wkp-search-toggle-container,
.tm-app.tm-w-xs .wkp-search-toggle-container {
  display: none;
}

.tm-app.tm-w-s .wkp-search-toggle-button,
.tm-app.tm-w-s .wkp-search-toggle-container--open,
.tm-app.tm-w-xs .wkp-search-toggle-button,
.tm-app.tm-w-xs .wkp-search-toggle-container--open {
  display: block;
  margin-right: 0;
}

.wkp-search {
  position: absolute;
  top: 25px;
  z-index: 2;
  right: 220px;
  left: 400px;
}

.wkp-search .wkp-search-button {
  border: none;
  color: #fff;
  height: 41px;
  width: 46px;
  position: absolute;
  top: 2px;
  font-size: 16px;
  padding-top: 3px;
}

.wkp-search .wkp-search-button.wkp-search-button-clear {
  right: 46px;
  background: none;
  color: #666;
}

.wkp-search .wkp-search-button.wkp-search-button-submit {
  background-color: #eb0000;
  right: -2px;
}

.wkp-search .react-autosuggest__input {
  border: 2px solid #b7b7b7;
  padding: 12px 15px;
  font-size: 14px;
  width: calc(100% - 30px);
}

.wkp-search .react-autosuggest__suggestions-container--open {
  background: #fff;
  border: 2px solid #666;
  margin-top: 5px;
  width: 100%;
  padding-top: 15px;
  max-height: calc(100vh - 150px);
  overflow: auto;
}

.wkp-search .react-autosuggest__section-title {
  padding: 10px 15px 0;
  border-top: 1px solid #d3d3d3;
}

.wkp-search .react-autosuggest__section-title .wkp-search-section-header {
  font-weight: 700;
}

.wkp-search .react-autosuggest__section-title .wkp-search-section-count {
  color: #666;
  padding-top: 5px;
  position: relative;
}

.wkp-search .react-autosuggest__section-title .wkp-search-section-count svg {
  position: absolute;
  top: -15px;
  right: 0;
}

.wkp-search .react-autosuggest__section-title :hover .wkp-search-section-count {
  color: #eb0000;
}

.wkp-search .react-autosuggest__section-container--first .react-autosuggest__section-title {
  margin: 0;
  padding: 0 15px;
  border: none;
}

.wkp-search .react-autosuggest__suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wkp-search .react-autosuggest__suggestion {
  margin: 15px 15px 0;
}

.wkp-search .react-autosuggest__suggestion.react-autosuggest__suggestion--highlighted {
  color: #eb0000;
}

.wkp-search .react-autosuggest__suggestion :hover {
  cursor: pointer;
}

.wkp-search .react-autosuggest__suggestion :last-child {
  margin-bottom: 15px;
}

.tm-app.tm-w-m .wkp-search,
.tm-app.tm-w-s .wkp-search,
.tm-app.tm-w-xs .wkp-search {
  top: 5px;
  left: 250px;
}

.tm-app.tm-w-s .wkp-search,
.tm-app.tm-w-xs .wkp-search {
  right: 9px;
  max-width: 100%;
  left: 100px;
}

.tm-autocomplete .tm-search {
  color: #333;
}

.tm-autocomplete .tm-autocomplete-results,
.tm-autocomplete .tm-search-input {
  border: 2px solid #eee;
}

.tm-autocomplete .tm-bt-clear {
  color: #000;
}

.tm-autocomplete .tm-autocomplete-results {
  position: absolute;
  margin: auto;
  border-top: none;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: auto;
  max-height: 400px;
  z-index: 800;
}

.tm-autocomplete .tm-autocomplete-results p {
  font-size: 0.9em;
  font-weight: 700;
  color: #777;
  padding: 5px 15px 2px;
  margin: 0;
}

.tm-autocomplete .tm-autocomplete-results ul:first-child {
  margin-top: 8px;
}

.tm-autocomplete .tm-autocomplete-results li:focus,
.tm-autocomplete .tm-autocomplete-results li:hover {
  color: #eb0000;
}

.tm-base-layer-toggler {
  width: 120px;
  height: 120px;
  border: 2px solid #d3d3d3;
  background-color: #fff;
}

.tm-base-layer-toggler .tm-base-layer-item,
.tm-base-layer-toggler .tm-map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.tm-base-layer-toggler .tm-footer {
  height: 21px;
  background-color: hsla(0, 0%, 100%, 0.67);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px;
  border: none;
}

.tm-base-layer-toggler .tm-footer > div {
  display: flex;
  align-items: center;
}

.tm-base-layer-toggler .tm-footer .tm-base-layer-next,
.tm-base-layer-toggler .tm-footer .tm-base-layer-previous {
  width: 18px;
  height: 18px;
}

.tm-base-layer-toggler .tm-footer .tm-base-layer-next svg,
.tm-base-layer-toggler .tm-footer .tm-base-layer-previous svg {
  width: 100%;
  height: 100%;
}

.tm-base-layer-toggler .tm-footer .tm-base-layer-next {
  float: right;
}

.tm-base-layer-toggler .tm-footer .tm-base-layer-previous {
  float: left;
}

.tm-button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.tm-round-blue {
  background: #003d85;
  border-radius: 50%;
  color: #fff;
}

.tm-square-white {
  border: 1px solid #aaa;
  background: #fff;
  color: #aaa;
}

.tm-square-white.tm-active {
  background-color: #00316c;
}

.tm-round-grey-hover-primary {
  background-color: #777;
  border-radius: 50%;
  color: #fff;
}

.tm-round-grey-hover-primary:hover {
  background-color: #b80000;
}

.tm-checkbox span::after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #eb0000;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tm-radio span {
  border-radius: 50%;
}

.tm-radio span::after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #eb0000;
}

.tm-checkbox,
.tm-radio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.tm-checkbox span,
.tm-radio span {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.tm-checkbox span::after,
.tm-radio span::after {
  content: '';
  position: absolute;
  display: none;
}

.tm-checkbox:hover input ~ span,
.tm-radio:hover input ~ span {
  background-color: #ccc;
}

.tm-checkbox input,
.tm-radio input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 18px;
  width: 18px;
  display: none;
}

.tm-checkbox input:checked ~ span::after,
.tm-radio input:checked ~ span::after {
  display: block;
}

.tm-dialog-container {
  background: #fff;
  text-align: center;
  width: 60%;
}

.tm-dialog-container .tm-dialog-header {
  position: relative;
  background: #fff;
  text-align: center;
  line-height: 50px;
  height: 50px;
}

.tm-dialog-container .tm-dialog-draggable {
  cursor: pointer;
}

.tm-dialog-container .tm-dialog-close-bt {
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  color: #000;
  height: 50px;
  width: 50px;
}

.tm-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
}

.tm-modal .tm-dialog-container {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tm-dialog .tm-dialog-container {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: absolute;
  top: 0;
}

.tm-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: right;
  font-size: 0.8em;
  padding: 5px;
  border-top: 1px solid #aaa;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tm-footer .tm-footer-left {
  padding-right: 5px;
}

.tm-footer .tm-footer-right {
  padding-left: 5px;
}

.tm-footer a {
  color: #eb0000;
  text-decoration: none;
}

.tm-footer a:hover {
  color: #b80000;
  text-decoration: underline;
}

.tm-footer a:active {
  color: #d20000;
}

.tm-footer a.tm-selected {
  font-weight: 700;
}

.tm-footer a {
  margin-left: 10px;
  color: #000;
}

.tm-geolocation {
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: #eb0000;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.tm-geolocation:hover {
  background-color: #b80000;
}

.tm-geolocation.blink {
  -webkit-animation-name: blinking;
  animation-name: blinking;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blinking {
  0% {
    color: #fff;
  }

  50% {
    color: #eb0000;
  }

  to {
    color: #fff;
  }
}

@keyframes blinking {
  0% {
    color: #fff;
  }

  50% {
    color: #eb0000;
  }

  to {
    color: #fff;
  }
}

.tm-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 55px;
  background: #fff;
  border-bottom: 1px solid #aaa;
}

.tm-header .tm-header-left {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 50%;
}

.tm-layer-tree {
  width: 100%;
  overflow-y: auto;
}

.tm-layer-tree .tm-layer-tree-arrow {
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 0;
  background: transparent;
  width: 5px;
  height: 5px;
}

.tm-layer-tree .tm-layer-tree-arrow-collapsed {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: -3px;
}

.tm-layer-tree .tm-layer-tree-arrow-expanded {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 3px;
}

.tm-layer-tree .tm-layer-tree-item {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.tm-layer-tree .tm-layer-tree-item > * {
  margin-right: 10px;
  align-items: center;
}

.tm-layer-tree .tm-layer-tree-item div {
  position: relative;
}

.tm-layer-tree .tm-layer-tree-item label + div {
  display: inline-block;
}

.tm-layer-tree .tm-layer-tree-item .tm-layer-tree-toggle {
  width: auto;
  height: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

.tm-layer-tree .tm-layer-tree-item .tm-layer-tree-toggle div:first-child {
  margin-right: 10px;
}

.tm-layer-tree .tm-layer-tree-item label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.tm-layer-tree .tm-layer-tree-item label,
.tm-layer-tree .tm-layer-tree-item label input {
  height: 18px;
  width: 18px;
}

.tm-layer-tree .tm-layer-tree-item label input,
.tm-layer-tree .tm-layer-tree-item label span {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.tm-layer-tree .tm-layer-tree-item label input {
  display: none;
}

.tm-layer-tree .tm-layer-tree-item label span {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.tm-layer-tree .tm-layer-tree-item .tm-layer-tree-input-radio span {
  border-radius: 50%;
}

.tm-layer-tree .tm-layer-tree-item label:hover input ~ span {
  background-color: #ccc;
}

.tm-layer-tree .tm-layer-tree-item label span::after {
  content: '';
  position: absolute;
  display: none;
}

.tm-layer-tree .tm-layer-tree-item .tm-layer-tree-input-checkbox span::after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #eb0000;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tm-layer-tree .tm-layer-tree-item .tm-layer-tree-input-radio span::after {
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #eb0000;
}

.tm-layer-tree .tm-layer-tree-item label input:checked ~ span::after {
  display: block;
}

.tm-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tm-list li {
  line-height: 25px;
  padding: 4px 15px;
  cursor: pointer;
}

.tm-menu {
  background-color: #fff;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100vh - 82px);

  /* max-height: calc(var(--tm-vh, 1vh) * 100 - 82px); */
  max-width: 300px;
}

.tm-menu .tm-menu-item-title {
  padding: 0 20px;
  line-height: 50px;
  font-weight: 700;
  white-space: nowrap;
}

.tm-w-xs .tm-menu {
  max-width: 100vw;
  width: 100vw;
}

.tm-menu .tm-menu-item {
  padding: 0 20px 20px;
}

.tm-north-arrow {
  bottom: 5px;
  right: 10px;
  height: 80px;
  width: 80px;
  position: absolute;
}

.tm-north-arrow svg {
  height: 100%;
  width: 100%;
}

.tm-permalink-field {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 1px solid #555;
  background-color: #fff;
}

.tm-permalink-field button,
.tm-permalink-field input,
.tm-permalink-field svg {
  border: none;
}

.tm-permalink-field input {
  flex-grow: 2;
  text-overflow: ellipsis;
  min-width: 0;
}

.tm-permalink-field input::-ms-clear {
  display: none;
}

.tm-permalink-field div[role='button'] {
  width: 50px;
  height: 100%;
  flex-shrink: 0;
}

.tm-popup,
.tm-popup > div {
  position: absolute;
}

.tm-popup > div {
  background-color: #fff;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  bottom: 12px;
  left: -50px;
  min-width: 220px;
}

.tm-popup > div::after,
.tm-popup > div::before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tm-popup > div::after {
  border-top-color: #fff;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.tm-popup > div::before {
  border-top-color: #ccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.tm-popup > div .tm-popup-close-bt {
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  color: #000;
  height: 50px;
  width: 50px;
}

.tm-popup > div .tm-popup-title {
  font-weight: 700;
  padding-bottom: 5px;
  margin-right: 25px;
}

.tm-scale-line .ol-scale-line-inner {
  border: 1px solid;
  border-bottom: 1px solid #555;
  padding: 5px;
  font-size: 13px;
}

.tm-search-input {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #555;
  background-color: #fff;
}

.tm-search-input button,
.tm-search-input input,
.tm-search-input svg {
  border: none;
}

.tm-search-input input {
  padding: 0 0 0 15px;
  flex-grow: 2;
  text-overflow: ellipsis;
  min-width: 0;
}

.tm-search-input input::-ms-clear {
  display: none;
}

.tm-search-input div[role='button'] {
  width: 50px;
  height: 100%;
  flex-shrink: 0;
}

.tm-search-input div[role='button']:last-child {
  background-color: #eb0000;
  color: #fff;
}

.tm-search-input div[role='button']:last-child:hover {
  background-color: #b80000;
}

.tm-sidebar {
  position: absolute;
  top: 0;
  background-color: #fff;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  width: 0;
  overflow-x: hidden;
}

.tm-sidebar-open {
  width: 200px;
}

.tm-sidebar-left {
  left: 0;
  border-right: 2px solid #eee;
}

.tm-sidebar-right {
  right: 0;
  border-left: 2px solid #eee;
}

.tm-sidebar-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #777;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tm-sidebar-modal-open {
  opacity: 0.6;
}

.tm-sidebar-item {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
}

.tm-sidebar-item div {
  width: 40px;
  display: flex;
  align-items: center;
}

.tm-sidebar-item div svg {
  height: 20px;
  width: 20px;
  padding: 10px;
}

.tm-tabs {
  min-height: 50px;
}

.tm-tabs ol {
  margin: 0;
}

.tm-tabs .tm-tab,
.tm-tabs .tm-tabs-content {
  border: 1px solid #eee;
}

.tm-tabs .tm-tab {
  color: #555;
}

.tm-tabs .tm-tab.tm-active {
  color: #eb0000;
  border-bottom: none;
}

.tm-tabs .tm-tabs-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.tm-tabs .tm-tabs-list li {
  flex-grow: 1;
}

.tm-tabs .tm-tabs-content {
  padding: 20px;
  border-top: none;
  overflow: auto;
}

.tm-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tm-tab > div {
  flex-grow: 1;
  outline: none;
}

.tm-zooms-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.tm-zooms-bar div {
  margin: 10px 0;
}

.tm-zooms-bar .tm-zoomslider-wrapper {
  display: flex;
  justify-content: center;
}

.tm-zooms-bar .tm-zoomslider-wrapper .ol-zoomslider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: hsla(0, 0%, 100%, 0.4);
  border: 1px solid #003d85;
  border-radius: 3px;
  outline: none;
  overflow: hidden;
  width: 14px;
  height: 200px;
  margin: 0;
  z-index: 1;
}

.tm-zooms-bar .tm-zoomslider-wrapper .ol-zoomslider .ol-zoomslider-thumb {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  position: relative;
  display: block;
  background: #003d85;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.14em;
  height: 20px;
  width: 14px;
  margin: 0;
  padding: 0;
  border: none;
}

[role='button']:not([disable]),
a:not([disable]),
button:not([disable]) {
  cursor: pointer;
}

.rt-control-button.rt-route-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  cursor: pointer;
  margin: 10px 15px 15px;
}

.rt-control-button.rt-route-filter svg {
  height: 30px;
  width: 30px;
}

.rt-active {
  border: 2px solid red;
  background-color: red;
}

.rt-active svg path {
  fill: #fff;
}

.rt-inactive {
  border: 2px solid #eee;
  background-color: #fff;
}

.rt-inactive:hover {
  background-color: #eee;
}

.rt-inactive:hover svg path {
  fill: #0f447e;
}

.rt-control-button.rt-route-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  cursor: pointer;
  margin: 10px 15px 15px;
}

.rt-control-button.rt-route-follow svg {
  height: 30px;
  width: 30px;
}

.rt-route-schedule {
  background-color: #fff;
  width: 350px;
  overflow: hidden;
}

.rt-route-schedule .rt-route-header {
  display: flex;
  align-items: center;
  padding: 15px 10px 0;
}

.rt-route-schedule .rt-route-header .rt-route-title {
  display: flex;
  flex-direction: column;
}

.rt-route-schedule .rt-route-header .rt-route-title .rt-route-name {
  padding-bottom: 8px;
  font-weight: 700;
}

.rt-route-schedule .rt-route-header .rt-route-buttons {
  margin-left: auto;
  display: flex;
}

.rt-route-schedule .rt-route-header .rt-route-icon {
  border-radius: 20px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border: 2px solid #000;
  padding: 5px;
  display: block;
  float: left;
  margin: 10px 15px 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.rt-route-schedule .rt-route-body {
  font-size: 14px;
  padding: 10px 20px;
}

.rt-route-schedule .rt-route-body .rt-route-station {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.rt-route-schedule .rt-route-body .rt-route-station:first-child,
.rt-route-schedule .rt-route-body .rt-route-station:last-child {
  font-weight: 700;
}

.rt-route-schedule .rt-route-body .rt-route-station:hover {
  color: #fff;
  background-color: #003d85;
}

.rt-route-schedule .rt-route-body .rt-route-station .rt-route-delay,
.rt-route-schedule .rt-route-body .rt-route-station .rt-route-times {
  display: flex;
  flex-direction: column;
  width: 40px;
  min-width: 40px;
  padding: 0 3px;
}

.rt-route-schedule .rt-route-body .rt-route-station .rt-route-delay .green,
.rt-route-schedule .rt-route-body .rt-route-station .rt-route-times .green {
  color: #00a00c;
}

.rt-route-schedule .rt-route-body .rt-route-station .rt-route-delay .orange,
.rt-route-schedule .rt-route-body .rt-route-station .rt-route-times .orange {
  color: #f7bf00;
}

.rt-route-schedule .rt-route-body .rt-route-station .rt-route-delay .light-red,
.rt-route-schedule .rt-route-body .rt-route-station .rt-route-times .light-red {
  color: #ff4a00;
}

.rt-route-schedule .rt-route-body .rt-route-station .rt-route-delay .middle-red,
.rt-route-schedule .rt-route-body .rt-route-station .rt-route-times .middle-red {
  color: #e80000;
}

.rt-route-schedule .rt-route-body .rt-route-station .rt-route-delay .dark-red,
.rt-route-schedule .rt-route-body .rt-route-station .rt-route-times .dark-red {
  color: #ed004c;
}

.rt-route-schedule .rt-route-body .rt-route-station.rt-no-stop,
.rt-route-schedule .rt-route-body .rt-route-station.rt-passed {
  opacity: 0.7;
}

.rt-route-schedule .rt-route-body .rt-route-station.rt-no-stop .rt-route-delay span,
.rt-route-schedule .rt-route-body .rt-route-station.rt-passed .rt-route-delay span {
  display: none;
}

.rt-route-schedule .rt-route-body .rt-route-station.rt-passed .rt-route-icon-mask {
  height: 0;
}

.rt-route-schedule .rt-route-body .rt-route-station:first-child .rt-route-time-arrival,
.rt-route-schedule .rt-route-body .rt-route-station:last-child .rt-route-time-departure {
  display: none;
}

.rt-route-schedule .rt-route-cancelled {
  text-decoration: line-through;
  color: #ec2b2b;
}

.rt-tracker-control {
  display: flex;
  align-items: center;
}

.rt-tracker-control .rt-control-button {
  border: 1px solid #ccc;
  color: #333;
  background-color: #fff;
  padding: 8px 12px 4px;
  margin: 2px;
  border-radius: 4px;
}

.rt-tracker-control .rt-control-button:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.rt-tracker-control .rt-tracker-speed {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.rt-tracker-control .rt-tracker-speed svg {
  height: 1.2em;
  width: 1.2em;
  padding-right: 5px;
}

body {
  font-family: SBBWeb Roman, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

.tm-barrier-free :focus {
  outline-width: 3px;
  outline-style: solid;
  outline-offset: 1px;
  outline-color: #3f83d1;
}

.tm-barrier-free .wkp-menu-header:focus {
  outline-offset: -2px;
}

.tm-barrier-free.tm-no-focus :focus {
  outline: none;
}

.tm-app {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.tm-app a {
  color: #000;
  color: initial;
  text-decoration: none;
}

.tm-app a:hover {
  text-decoration: underline;
}

.tm-app .tm-zooms-bar {
  position: relative;
}

.tm-app .tm-base-layer-toggler {
  position: absolute;
  bottom: 40px;
  left: 10px;
  width: 120px;
  height: 120px;
}

.wkp-selected {
  color: #eb0000;
}

.tm-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

select {
  margin: 0;
  padding: 1px 0 1px 12px;
  font-size: inherit;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tm-app.tm-w-m .tm-base-layer-toggler,
.tm-app.tm-w-s .tm-base-layer-toggler,
.tm-app.tm-w-xs .tm-base-layer-toggler {
  display: none;
}

.wkp-topic-menu {
  border-top-width: 0;
}

.wkp-topic-menu .wkp-info-topic-bt {
  margin-right: 4px;
}

.wkp-topic-menu .wkp-info-layer-bt {
  top: 0;
  margin-right: 0;
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper {
  display: flex;
  align-items: center;
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper .wkp-topic-menu-item {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper .wkp-topic-menu-item .wkp-topic-title {
  display: flex;
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper .wkp-topic-menu-item .wkp-topic-radio {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 50%;
  margin-right: 7px;
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper .wkp-topic-menu-item .wkp-topic-radio .wkp-topic-radio-dot {
  width: 12px;
  height: 12px;
  background: #eb0000;
  border-radius: 50%;
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper .wkp-topic-menu-item .wkp-layer-toggler {
  width: 5px;
  height: 5px;
  border-width: 1px 0 0 1px;
  border-style: solid;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 10px;
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper .wkp-topic-menu-item .wkp-layer-toggler.collapsed {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper .wkp-info-topic-bt {
  color: #888;
  align-items: center;
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper .wkp-info-topic-bt.wkp-active {
  color: #000;
}

.wkp-topic-menu .wkp-topic-menu-item-wrapper .wkp-info-topic-bt.wkp-selected {
  color: #eb0000;
}

.wkp-topic-menu .wkp-layer-tree {
  overflow: hidden;
  margin: 0 0 0 20px;
}

.wkp-topic-menu .wkp-layer-tree .tm-layer-tree-item {
  color: #888;
  height: 30px;
  padding: 0;
  margin: 0 4px;
}

.wkp-topic-menu .wkp-layer-tree .tm-layer-tree-item .tm-layer-tree-arrow {
  border-color: #888;
}

.wkp-topic-menu .wkp-layer-tree .tm-layer-tree-item.tm-visible {
  color: #000;
  color: initial;
}

.wkp-topic-menu .wkp-layer-tree .tm-layer-tree-item.tm-visible .tm-layer-tree-arrow {
  border-color: #000;
}

.wkp-topic-menu .wkp-topic-content {
  -webkit-transition: max-height 0.3s ease, margin 0.3s ease;
  transition: max-height 0.3s ease, margin 0.3s ease;
  max-height: 1000px;
}

.wkp-topic-menu .wkp-topic-content select {
  margin: 0 20px 5px 23px;
  height: 30px;
  width: 307px;
  display: none;
}

.tm-app.tm-w-m .wkp-topic-content,
.tm-app.tm-w-s .wkp-topic-content,
.tm-app.tm-w-xs .wkp-topic-content {
  border-bottom: 1px solid #eee;
}

.tm-app.tm-w-m .wkp-topic-content select,
.tm-app.tm-w-s .wkp-topic-content select,
.tm-app.tm-w-xs .wkp-topic-content select {
  display: block;
}

.tm-app.tm-w-m .wkp-info-layer-bt,
.tm-app.tm-w-s .wkp-info-layer-bt,
.tm-app.tm-w-xs .wkp-info-layer-bt {
  margin-right: 10px;
}

.tm-app.tm-w-m .wkp-topic-menu-item-wrapper,
.tm-app.tm-w-s .wkp-topic-menu-item-wrapper,
.tm-app.tm-w-xs .wkp-topic-menu-item-wrapper {
  padding: 0 10px;
}

.tm-app.tm-w-m .wkp-topic-menu-item,
.tm-app.tm-w-s .wkp-topic-menu-item,
.tm-app.tm-w-xs .wkp-topic-menu-item {
  height: 60px;
}

.tm-app.tm-w-m .wkp-topic-menu-item.active,
.tm-app.tm-w-s .wkp-topic-menu-item.active,
.tm-app.tm-w-xs .wkp-topic-menu-item.active {
  border-bottom: 1px solid #eee;
}

.wkp-menu-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  height: 69px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #fff;
}

.wkp-menu-header.open {
  border-bottom: 1px solid #eee;
}

.wkp-menu-header .wkp-menu-toggler {
  position: absolute;
  right: 10px;
  top: 30px;
}

.wkp-menu-header .wkp-menu-header-toggler {
  display: none;
}

.wkp-menu-header .wkp-menu-header-toggler .wkp-menu-header-toggler-icon {
  width: 50px;
  text-align: center;
}

.wkp-menu-header .wkp-menu-layers {
  color: #888;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  max-height: 16px;
}

.wkp-menu-header .wkp-menu-layers.hidden {
  max-height: 0;
  margin: 0;
}

.wkp-menu-header .wkp-menu-header-title {
  -webkit-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
}

.wkp-menu-header .wkp-menu-header-title.large {
  font-size: 120%;
}

.tm-w-m .wkp-menu-header,
.tm-w-s .wkp-menu-header,
.tm-w-xs .wkp-menu-header {
  margin: 0;
  border: 0;
  padding: 10px;
  height: 35px;
  width: 30px;
}

.tm-w-m .wkp-menu-header .wkp-menu-layers,
.tm-w-m .wkp-menu-header .wkp-menu-toggler,
.tm-w-s .wkp-menu-header .wkp-menu-layers,
.tm-w-s .wkp-menu-header .wkp-menu-toggler,
.tm-w-xs .wkp-menu-header .wkp-menu-layers,
.tm-w-xs .wkp-menu-header .wkp-menu-toggler {
  display: none;
}

.tm-w-m .wkp-menu-header .wkp-menu-header-toggler,
.tm-w-s .wkp-menu-header .wkp-menu-header-toggler,
.tm-w-xs .wkp-menu-header .wkp-menu-header-toggler {
  display: flex;
  align-items: center;
}

.tm-w-m .wkp-menu-header .wkp-menu-header-toggler .wkp-menu-toggle-text,
.tm-w-s .wkp-menu-header .wkp-menu-header-toggler .wkp-menu-toggle-text,
.tm-w-xs .wkp-menu-header .wkp-menu-header-toggler .wkp-menu-toggle-text {
  display: none;
}

.tm-w-m .wkp-menu-header .wkp-menu-header-toggler img,
.tm-w-s .wkp-menu-header .wkp-menu-header-toggler img,
.tm-w-xs .wkp-menu-header .wkp-menu-header-toggler img {
  margin-right: 5px;
}

.tm-w-m.header .wkp-menu,
.tm-w-s.header .wkp-menu,
.tm-w-xs.header .wkp-menu {
  top: 12px;
}

.tm-w-m.header .wkp-menu .wkp-menu-header,
.tm-w-s.header .wkp-menu .wkp-menu-header,
.tm-w-xs.header .wkp-menu .wkp-menu-header {
  margin: 0 0 0 10px;
  width: 60px;
}

.tm-w-m.header .wkp-menu .wkp-menu-header .wkp-menu-toggle-text,
.tm-w-s.header .wkp-menu .wkp-menu-header .wkp-menu-toggle-text,
.tm-w-xs.header .wkp-menu .wkp-menu-header .wkp-menu-toggle-text {
  display: block;
}

.wkp-topics-menu {
  border: 2px solid #666;
  max-height: 1000px;
  overflow: hidden;
}

.wkp-topics-menu .wkp-menu-item {
  border: none;
  margin-top: 0;
}

.wkp-topics-menu .wkp-menu-item-header {
  border-top: 1px solid #eee;
}

.wkp-topics-menu .wkp-topics-menu-title {
  display: flex;
  align-items: center;
}

.wkp-topics-menu .wkp-topics-menu-body {
  min-width: 250px;
  max-height: 1000px;
  overflow-y: auto;
  background: #fff;
  padding: 10px 15px;
  position: relative;
}

.tm-app.tm-w-m .wkp-topics-menu,
.tm-app.tm-w-s .wkp-topics-menu,
.tm-app.tm-w-xs .wkp-topics-menu {
  border: 0;
}

.tm-app.tm-w-m .wkp-topics-menu .wkp-menu-header .wkp-menu-title,
.tm-app.tm-w-s .wkp-topics-menu .wkp-menu-header .wkp-menu-title,
.tm-app.tm-w-xs .wkp-topics-menu .wkp-menu-header .wkp-menu-title {
  display: none;
}

.tm-app.tm-w-m .wkp-topics-menu .wkp-topics-menu-body,
.tm-app.tm-w-s .wkp-topics-menu .wkp-topics-menu-body,
.tm-app.tm-w-xs .wkp-topics-menu .wkp-topics-menu-body {
  padding: 0;
  border-top: 1px solid #eee;
}

.tm-app.tm-w-m.header .wkp-topics-menu,
.tm-app.tm-w-s.header .wkp-topics-menu,
.tm-app.tm-w-xs.header .wkp-topics-menu {
  margin-top: 0;
}
