@import 'globals.scss';

// @geops/react-ui
@import 'node_modules/@geops/react-ui/themes/default/variables.scss';
@import 'node_modules/@geops/react-ui/themes/default/mixins.scss';
@import 'node_modules/@geops/react-ui/components/List/List.scss';
@import 'node_modules/@geops/react-ui/components/SearchInput/SearchInput.scss';
@import 'node_modules/@geops/react-ui/components/Autocomplete/Autocomplete.scss';
@import 'node_modules/@geops/react-ui/components/Footer/Footer.scss';
@import 'node_modules/@geops/react-ui/components/Button/Button.scss';
@import 'node_modules/@geops/react-ui/components/Header/Header.scss';
@import 'node_modules/@geops/react-ui/components/PermalinkInput/PermalinkInput.scss';
@import 'node_modules/@geops/react-ui/components/Dialog/Dialog.scss';

// React-transit
@import 'react-transit/themes/default/variables.scss';
@import 'react-transit/themes/default/components.scss';

// React-spatial
@import 'node_modules/react-spatial/themes/default/variables.scss';
@import 'node_modules/react-spatial/themes/default/mixins.scss';
@import 'node_modules/react-spatial/components/LayerTree/LayerTree.scss';
@import 'node_modules/react-spatial/components/BaseLayerToggler/BaseLayerToggler.scss';
@import 'node_modules/react-spatial/components/ScaleLine/ScaleLine.scss';
@import 'node_modules/react-spatial/components/Zoom/Zoom.scss';
@import 'node_modules/react-spatial/components/Geolocation/Geolocation.scss';
@import 'node_modules/react-spatial/components/Popup/Popup.scss';

// React-slideshow
@import '../node_modules/react-slideshow-image/lib/components/slideshow/general.css';
@import '../node_modules/react-slideshow-image/lib/components/slideshow/fade.css';

// Components
@import 'src/components/Collapsible/Collapsible.scss';
@import 'src/components/Dialog/Dialog.scss';
@import 'src/components/FeatureInformation/FeatureInformation.scss';
@import 'src/components/FeatureInformation/FeaturePagination.scss';
@import 'src/components/Footer/Footer.scss';
@import 'src/components/Header/Header.scss';
@import 'src/components/Link/Link.scss';
@import 'src/components/MapControls/MapControls.scss';
@import 'src/components/Menu/Menu.scss';
@import 'src/components/Menu/MenuItem.scss';
@import 'src/components/Menu/MenuItemHeader.scss';
@import 'src/components/Search/Search.scss';
@import 'src/components/Search/SearchToggle.scss';
@import 'src/components/Share/Share.scss';
@import 'src/components/SharePermalinkButton/SharePermalinkButton.scss';
@import 'src/components/TopicMenu/TopicMenu.scss';
@import 'src/components/TopicsMenu/TopicsMenu.scss';
@import 'src/components/TopicsMenuHeader/TopicsMenuHeader.scss';
@import 'src/components/TopicTelephoneInfos/TopicTelephoneInfos.scss';
@import 'src/components/TrafimageMaps/TrafimageMaps.scss';

// Menus
@import 'src/menus/ShareMenu/ShareMenu.scss';
@import 'src/menus/TrackerMenu/TrackerMenu.scss';

// Popups
@import 'src/popups/BahnhofplanPopup/BahnhofplanPopup.scss';
@import 'src/popups/BehigPopup/BehigPopup.scss';
@import 'src/popups/BusLinePopup/BusLinePopup.scss';
@import 'src/popups/ConstructionPopup/ConstructionPopup.scss';
@import 'src/popups/HandicapPopup/HandicapPopup.scss';
@import 'src/popups/InfoFPWPopup/InfoFPWPopup.scss';
@import 'src/popups/NetzkartePopup/NetzkartePopup.scss';
@import 'src/popups/ParksPopup/ParksPopup.scss';
@import 'src/popups/PassagierFrequenzenPopup/PassagierFrequenzenPopup.scss';
@import 'src/popups/DeparturePopup/DeparturePopupContent.scss';
@import 'src/popups/DeparturePopup/DestinationInput.scss';

// LayerInfos
@import 'src/layerInfos/BehigLayerInfo/BehigLayerInfo.scss';
