.wkp-zweitausbildung-pois-popup {
  overflow-y: auto;
  max-height: 300px;
  padding-right: 10px;
  margin-right: -10px;

  .wkp-zweitausbildung-pois-popup-row {
    min-height: 50px;
    border-bottom: dashed 1px #bebebe;
    padding-top: 5px;

    &:hover {
      background-color: #eaeaea;
    }
  }

  .wkp-zweitausbildung-pois-popup-railaway {
    font-style: italic;
  }

  .wkp-zweitausbildung-pois-popup-image {
    padding: 6px;
  }
}
