.wkp-zweitausbildung-pois-popup {
  overflow-y: auto;

  .wkp-zweitausbildung-pois-popup-row {
    border-bottom: dashed 1px #bebebe;
    padding-top: 5px;

    &:hover {
      background-color: #eaeaea;
    }
  }

  .wkp-zweitausbildung-pois-popup-railaway {
    font-style: italic;
  }

  .wkp-zweitausbildung-pois-popup-image {
    padding: 6px;

    img {
      max-width: 100%;
    }
  }
}
