/* Overwrtie styleguidist styles */

.link-active {
  font-weight: bold !important;
}

/* Hide WebComponent header section in main page */
[data-testid='WebComponent-container'] header {
  display: none;
}

/* Hide WebComponent section in left menu */
a[href='/#/Web%20component?id=section-trafimage-maps'] + ul {
  display: none;
}

div[class*="rsg--preview"] {
  border: none;
  padding: 0 !important;
}

#promo {
  position: absolute;
  bottom: 50px;
  background-color: #e90;
  right: -65px;
  transform: rotate(-45deg);
  z-index: 1;
  line-height: 1.2;
}

#promo-text {
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 3px 70px;
}

#promo a,
#promo a:hover {
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  height: 500px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

iframe,
.tm-trafimage-maps {
  border: 1px solid rgb(232 232 232);
  border-radius: 3px;
}

/* hide hot reload iframe */
body > iframe {
  display: none;
}
