.wkp-link {
  align-items: center;
  display: flex;
  text-decoration: none !important;

  span {
    text-overflow: ellipsis;
    max-width: 380px;
    overflow: hidden;
    display: inline-block;
  }

  svg {
    height: 16px;
    margin-left: 5px;
  }
}
