.wkp-feature-information {
  .wkp-feature-information-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    font-family: 'SBBWeb-Bold', Arial, sans-serif;
    min-height: 36px;
    max-height: 38px;

    > span {
      display: flex;
      align-items: center;
      padding: 10px 0 10px 10px;
      height: 100%;
      overflow: hidden;
    }

    .wkp-close-bt {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 13px;
      height: 100%;
      width: 40px;
    }
  }

  .wkp-feature-information-body {
    > div:first-child {
      padding: 10px;
      min-width: 220px;
      overflow: auto;
    }
  }
}
