.wkp-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;

  .wkp-pagination-button-wrapper {
    padding: 0 10px;
    height: 25px;
    width: 25px;

    .wkp-pagination-button {
      height: 25px;
      width: 25px;
      cursor: pointer;

      svg {
        height: 25px;
        width: 25px;
      }
    }
  }
}
