.wkp-pagination-wrapper {
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: center;

  .wkp-pagination-button-wrapper {
    padding: 0 10px;
    height: 25px;
    width: 25px;

    .wkp-pagination-button {
      height: 25px;
      width: 25px;

      svg {
        height: 25px;
        width: 25px;
      }
    }
  }
}
