.wkp-feature-information {
  .wkp-feature-information-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    font-weight: bold;
    min-height: 36px;

    span {
      display: flex;
      align-items: center;
      padding: 10px 0 10px 10px;
      height: 100%;
      overflow: hidden;
    }

    .wkp-close-bt {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 40px;
      height: 100%;
    }
  }

  .wkp-feature-information-body {
    padding: 10px;

    .wkp-pagination-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5px;

      .wkp-pagination-button-wrapper {
        padding: 0 10px;
        height: 25px;
        width: 25px;

        .wkp-pagination-button {
          height: 25px;
          width: 25px;

          svg {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }
}
