/* stylelint-disable import-notation */
/* stylelint-disable scss/at-import-partial-extension */
@import '../../globals.scss';

.tm-departure-popup-body {
  position: relative;

  .tm-departure-input {
    margin: 5px 0;
    height: 25px;
    flex: 0 0 25px;
  }

  .tm-departure-title {
    padding: 5px 0;
  }

  .tm-departure-name {
    color: white;
    background: $brand-secondary;
    border-radius: 2px;
    max-width: 30px;
    padding: 0 2px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }

  .tm-departure-platform {
    border: 1px solid white;
    background: grey;
    color: white;
    font-size: 12px;
    text-align: center;
  }

  .tm-departure-platform.train {
    background: $brand-secondary;
    color: white;
    text-align: center;
  }

  .tm-platform-inner {
    white-space: nowrap;
    padding: 0 3px;
  }

  .tm-departure-plaform.train .tm-platform-inner {
    border: 1px solid white;
    border-radius: 3px;
    margin: 1px;
  }

  .departure-platform {
    border: 1px solid $brand-secondary;
  }

  .tm-departure-destination {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .tm-table-wrapper {
    flex: 1;
    overflow: hidden auto;
    min-height: 100px;
  }

  table.tm-departures {
    border-collapse: collapse;
    width: 100%;

    td {
      padding: 0 3px;
    }

    tr {
      border-bottom: 1px solid #eee;
    }

    th {
      font-weight: normal;
      text-align: left;
    }

    .tm-departure-line-cell {
      padding: 1px 7px 1px 3px;
    }
  }

  .tm-departure-min {
    color: green;
    font-size: 10px;
    font-weight: bold;
  }

  .tm-loader {
    width: 100%;
    text-align: center;
  }
}

.tm-load-spinner {
  transform-origin: 50% 50%;
  animation: spin 2s infinite linear;
  font-size: 20px;
  color: $brand-primary;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
