.wkp-bahnhofplan-popup {
  svg {
    margin-left: 5px;
  }

  .wkp-bahnhofplan-popup-title {
    font-weight: bold;
  }

  div {
    padding: 3px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #eee;
  }
}
